LabelEncoder --- 2:27 min
===

* 2:27 min | Última modificación: Octubre 7, 2021 | [YouTube](https://youtu.be/oXehQync3S8)

Permite normalizar las etiquetas de la variable de salida tal que contengan valores entre 0 y `n_classes` - 1.

In [1]:
from sklearn.preprocessing import LabelEncoder

#
# Aplicación de LabelEncoder sobre una columna de enteros
#
y = [
    1,
    2,
    2,
    6,
]
labelEncoder = LabelEncoder()
labelEncoder.fit(y)

LabelEncoder()

In [2]:
#
# Clases codificadas
#
labelEncoder.classes_

array([1, 2, 6])

In [3]:
#
# Transformación
#
labelEncoder.transform(y)

array([0, 1, 1, 2])

In [4]:
#
# Transformación inversa
#
labelEncoder.inverse_transform([0, 0, 1, 2])

array([1, 1, 2, 6])

In [5]:
#
# Aplicación sobre una columna de strings
#
import pandas as pd

df = pd.DataFrame(
    [
        ["paris"],
        ["paris"],
        ["tokyo"],
        ["amsterdam"],
    ],
    columns=["city"],
)
df

        city
0      paris
1      paris
2      tokyo
3  amsterdam

In [6]:
encoded_df = df.copy()
encoded_df["city"] = LabelEncoder().fit_transform(df.city)

encoded_df.head()

   city
0     1
1     1
2     2
3     0