Exámen de los datos
===========================================================

* Última modificación: Mayo 16, 2022 | YouTube

Preparación
--

In [1]:
!mkdir -p /tmp/csvkit_tutorial
%cd /tmp/csvkit_tutorial
!curl -L -O --silent https://raw.githubusercontent.com/wireservice/csvkit/master/examples/realdata/ne_1033_data.xlsx
!in2csv ne_1033_data.xlsx > data.csv

/tmp/csvkit_tutorial

csvstat
--

In [2]:
!csvcut -c county,acquisition_cost,ship_date data.csv | csvstat

  1. "county"

	Type of data:          Text
	Contains null values:  False
	Unique values:         35
	Longest value:         10 characters
	Most common values:    DOUGLAS (760x)
	                       DAKOTA (42x)
	                       CASS (37x)
	                       HALL (23x)
	                       LANCASTER (18x)

  2. "acquisition_cost"

	Type of data:          Number
	Contains null values:  False
	Unique values:         75
	Smallest value:        0
	Largest value:         412000
	Sum:                   5430787.55
	Mean:                  5242.073
	Median:                6000
	StDev:                 13368.078
	Most common values:    6800 (304x)
	                       10747 (195x)
	                       6000 (105x)
	                       499 (98x)
	                       0 (81x)

  3. "ship_date"

	Type of data:          Date
	Contains null values:  False
	Unique values:         84
	Smallest value:        2006-03-07
	Largest value:         2014-01-30
	Most common values:    2013-04-25 (495x)
	                       2013-04-26 (160x)
	                       2008-05-20 (28x)
	                       2012-04-16 (26x)
	                       2006-11-17 (20x)

Row count: 1036

csvgrep
---

In [3]:
!csvcut -c county,item_name,total_cost data.csv | csvgrep -c county -m LANCASTER | csvlook

| county    | item_name                      | total_cost |
| --------- | ------------------------------ | ---------- |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | LIGHT ARMORED VEHICLE          |          0 |
| LANCASTER | LIGHT ARMORED VEHICLE          |          0 |
| LANCASTER | LIGHT ARMORED VEHICLE          |          0 |
| LANCASTER | MINE RESISTANT VEHICLE         |    412,000 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |

csvsort
--

In [4]:
!csvcut -c county,item_name,total_cost data.csv | csvgrep -c county -m LANCASTER | csvsort -c total_cost -r | csvlook

| county    | item_name                      | total_cost |
| --------- | ------------------------------ | ---------- |
| LANCASTER | MINE RESISTANT VEHICLE         |    412,000 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |
| LANCASTER | IMAGE INTENSIFIER,NIGHT VISION |      6,800 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | RIFLE,5.56 MILLIMETER          |        120 |
| LANCASTER | LIGHT ARMORED VEHICLE          |          0 |
| LANCASTER | LIGHT ARMORED VEHICLE          |          0 |
| LANCASTER | LIGHT ARMORED VEHICLE          |          0 |