LabelEncoder
===

Permite normalizar las etiquetas de la variable de salida tal que contengan valores entre 0 y `n_classes` - 1.

In [1]:
from sklearn.preprocessing import LabelEncoder

#
# Aplicaci贸n de LabelEncoder sobre una columna de enteros
#
y = [1, 2, 2, 6]

labelEncoder = LabelEncoder()

labelEncoder.fit(y)

#
# Clases codificadas
#
labelEncoder.classes_

array([1, 2, 6])

In [2]:
#
# Transformaci贸n
#
labelEncoder.transform(y)

array([0, 1, 1, 2])

In [3]:
#
# Transformaci贸n inversa
#
labelEncoder.inverse_transform([0, 0, 1, 2])

array([1, 1, 2, 6])

In [4]:
#
# Aplicaci贸n sobre una columna de strings
#
import pandas as pd

df = pd.DataFrame(
    [
        ["paris"],
        ["paris"],
        ["tokyo"],
        ["amsterdam"],
    ],
    columns=["city"],
)
df

        city
0      paris
1      paris
2      tokyo
3  amsterdam

In [5]:
encoded_df = df.copy()
encoded_df["city"] = LabelEncoder().fit_transform(df.city)

encoded_df.head()

   city
0     1
1     1
2     2
3     0