Transformación de strings a número entero o flotante
===

* Ultima actualización: Marzo 6, 2023 | [YouTube](https://www.youtube.com/watch?v=4DzusT3Nl-Q&list=PLEFpZ3YehTnDX6z1fx4rT0wkt80ythBhc&index=1)

Se refiere a la correción del tipo de los datos en las tablas

In [1]:
import pandas as pd

pd.__version__

'1.5.2'

String a entero o flotante
--

In [2]:
%%writefile /tmp/data.csv
orderId,price,percentage
1,100$,15.3%
2,120$,22.1%
3,128$,54.2%
4,155$,10.0%
5,234$,6%

Overwriting /tmp/data.csv

In [3]:
df = pd.read_csv("/tmp/data.csv")

##
##  Note que los tipos de las columnas price y 
##  percentage son object. Se debe a los caracteres
##  $ y % en el archivo.
## 
display(
    df,
    df.dtypes
)

   orderId price percentage
0        1  100$      15.3%
1        2  120$      22.1%
2        3  128$      54.2%
3        4  155$      10.0%
4        5  234$         6%

orderId        int64
price         object
percentage    object
dtype: object

In [4]:
##
## Corrección
##
df.price = df.price.str.strip('$')
df.price = df.price.astype(int)

df.percentage = df.percentage.str.strip('%')
df.percentage = df.percentage.astype(float)

display(
    df,
    df.dtypes
)

   orderId  price  percentage
0        1    100        15.3
1        2    120        22.1
2        3    128        54.2
3        4    155        10.0
4        5    234         6.0

orderId         int64
price           int64
percentage    float64
dtype: object