Transformación de valores enteros a categoría
===

* Ultima actualización: Marzo 6, 2023 | [YouTube](https://www.youtube.com/watch?v=4DzusT3Nl-Q&list=PLEFpZ3YehTnDX6z1fx4rT0wkt80ythBhc&index=2)

Se refiere a la correción del tipo de los datos en las tablas

In [1]:
import pandas as pd

pd.__version__

'1.5.2'

Codebook:

      0  single
      1  married
      2  divorced

In [2]:
%%writefile /tmp/data.csv
personId,status
1,0
2,0
3,1
4,2
5,2

Overwriting /tmp/data.csv

In [3]:
df = pd.read_csv("/tmp/data.csv")

##
## El status es int64 
##
display(
    df,
    df.dtypes
)

   personId  status
0         1       0
1         2       0
2         3       1
3         4       2
4         5       2

personId    int64
status      int64
dtype: object

In [4]:
df.status = df.status.astype('category')

display(
    df,
    df.dtypes
)

   personId status
0         1      0
1         2      0
2         3      1
3         4      2
4         5      2

personId       int64
status      category
dtype: object

In [5]:
df.describe()

       personId
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [6]:
df.status

0    0
1    0
2    1
3    2
4    2
Name: status, dtype: category
Categories (3, int64): [0, 1, 2]