Rangos numéricos a categorías
===

* Ultima actualización: Marzo 6, 2023 | [YouTube](https://www.youtube.com/watch?v=4DzusT3Nl-Q&list=PLEFpZ3YehTnDX6z1fx4rT0wkt80ythBhc&index=8)

In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.23.5
1.5.2

In [2]:
%%writefile /tmp/data.csv
salary
100
90
86
25
53
48
23
10
45
94
32
67
25
12
99

Overwriting /tmp/data.csv

In [3]:
#
# Rangos y categorias.
#
ranges = [0, 20, 40, 60, 80, np.inf]
names = ['0-19', '20-39', '40-59', '60-79', '80+']

df = pd.read_csv('/tmp/data.csv')

#
# Creación de la columna
#
df['group'] = pd.cut(
    df.salary,
    bins=ranges,
    labels=names,
)
df

    salary  group
0      100    80+
1       90    80+
2       86    80+
3       25  20-39
4       53  40-59
5       48  40-59
6       23  20-39
7       10   0-19
8       45  40-59
9       94    80+
10      32  20-39
11      67  60-79
12      25  20-39
13      12   0-19
14      99    80+