Depreciación de Activos
===

* *60 min* | Junio 22, 2019

In [1]:
import pandas as pd

# Importa la librería financiera.
# Solo es necesario ejecutar la importación una sola vez.
import cashflows as cf

#### Depreciación en línea recta

La depreciación permite la deducción de los costos de las inversiones (pérdida de valor de ellas) con el fin de reducir el impuesto de renta.

La depreciación en todos los años es igual.

* $P$ -- valor de compra en libros.

* $N$ -- número de años en que ocurre la depreciación (vida útil del activo).

* $D_n$ -- depreciación en el año $n$.

* $F$ -- valor de salvamento al final de la vida útil.

$$D_n = \frac{P-F}{N}$$

***Ejemplo.--*** Un activo cuesta  `$` 200. Si la depreciación ocurre durante 5 años, ¿cuál es su depreciación anual?.

In [2]:
costs = cf.cashflow(const_value=0,  # valor 0 por defecto
                    periods=6,      # compra + vida útil
                    start=2000,
                    freq='A')
costs[0] = 200
costs

2000    200.0
2001      0.0
2002      0.0
2003      0.0
2004      0.0
2005      0.0
Freq: A-DEC, dtype: float64

In [3]:
life  = cf.cashflow(const_value=0, # vida util = 0
                    periods=6,     # compra + vida útil
                    start=2000,
                    freq='A')
life[0]=5 # vida útil del activo
life

2000    5.0
2001    0.0
2002    0.0
2003    0.0
2004    0.0
2005    0.0
Freq: A-DEC, dtype: float64

In [4]:
cf.depreciation_sl(costs=costs,    # costos de las inversiones 
                   life=life)      # vida útil de cada inversión

      Beg_Book  Costs  Depr  Accum_Depr  End_Book
2000       0.0  200.0   0.0         0.0     200.0
2001     200.0    0.0  40.0        40.0     160.0
2002     160.0    0.0  40.0        80.0     120.0
2003     120.0    0.0  40.0       120.0      80.0
2004      80.0    0.0  40.0       160.0      40.0
2005      40.0    0.0  40.0       200.0       0.0

***Ejemplo.--*** En el año 2001 se compra un activo por valor de `$` 200 y en el año 2006 otro activo por valor de `$` 300. Los activos tienen vidas útiles de 5 y 10 años respectivamente. Calcule la depreciación total anual para cada año. Haga sus cálculos iniciando en el año 2000.

In [5]:
costs = cf.cashflow(const_value=0,   # valor por defecto 
                    periods=20,      # cantidad de períodos
                    start=2000,
                    freq='A')
costs['2001'] = 200
costs['2006'] = 300
costs

2000      0.0
2001    200.0
2002      0.0
2003      0.0
2004      0.0
2005      0.0
2006    300.0
2007      0.0
2008      0.0
2009      0.0
2010      0.0
2011      0.0
2012      0.0
2013      0.0
2014      0.0
2015      0.0
2016      0.0
2017      0.0
2018      0.0
2019      0.0
Freq: A-DEC, dtype: float64

In [6]:
life = cf.cashflow(const_value=0,    # valor por defecto 
                   periods=20,       # cantidad de períodos
                   start=2000,
                   freq='A')
life['2001'] = 5
life['2006'] = 10
life

2000     0.0
2001     5.0
2002     0.0
2003     0.0
2004     0.0
2005     0.0
2006    10.0
2007     0.0
2008     0.0
2009     0.0
2010     0.0
2011     0.0
2012     0.0
2013     0.0
2014     0.0
2015     0.0
2016     0.0
2017     0.0
2018     0.0
2019     0.0
Freq: A-DEC, dtype: float64

In [7]:
cf.depreciation_sl(costs=costs,    # inversiones
                   life=life)      # vida útil

      Beg_Book  Costs  Depr  Accum_Depr  End_Book
2000       0.0    0.0   0.0         0.0       0.0
2001       0.0  200.0   0.0         0.0     200.0
2002     200.0    0.0  40.0        40.0     160.0
2003     160.0    0.0  40.0        80.0     120.0
2004     120.0    0.0  40.0       120.0      80.0
2005      80.0    0.0  40.0       160.0      40.0
2006      40.0  300.0  40.0       200.0     300.0
2007     300.0    0.0  30.0       230.0     270.0
2008     270.0    0.0  30.0       260.0     240.0
2009     240.0    0.0  30.0       290.0     210.0
2010     210.0    0.0  30.0       320.0     180.0
2011     180.0    0.0  30.0       350.0     150.0
2012     150.0    0.0  30.0       380.0     120.0
2013     120.0    0.0  30.0       410.0      90.0
2014      90.0    0.0  30.0       440.0      60.0
2015      60.0    0.0  30.0       470.0      30.0
2016      30.0    0.0  30.0       500.0       0.0
2017       0.0    0.0   0.0       500.0       0.0
2018       0.0    0.0   0.0       500.0       0.0
2019       0.0    0.0   0.0       500.0       0.0

#### Depreciación por suma de los dígitos de los años (o depreciación acelerada)

En este método de depreciación se hace mayor al principio y más pequeña al final. Se basa en la progresión desde $N$ hasta 1.

$$S = \sum_{i=1}^N i = \frac{1}{2} N(N + 1)$$

$$D_n = (P - F) * \frac{(N - n + 1)}{S} = 2 * (P - F) * \frac{N-n+1}{N(N+1)}$$

***Ejemplo.--*** Un activo cuesta  `$` 200. Si la depreciación ocurre durante 5 años, ¿cuál es su depreciación anual?.

In [8]:
costs = cf.cashflow(const_value=[200]+[0]*5,
                    start=2000,
                    freq='A')

life  = cf.cashflow(const_value=[5]+[0]*5,
                    start='2000',
                    freq='A')

In [9]:
cf.depreciation_soyd(costs=costs, life=life)

      Beg_Book  Costs   Depr  Accum_Depr  End_Book
2000      0.00  200.0   0.00        0.00    200.00
2001    200.00    0.0  66.67       66.67    133.33
2002    133.33    0.0  53.33      120.00     80.00
2003     80.00    0.0  40.00      160.00     40.00
2004     40.00    0.0  26.67      186.67     13.33
2005     13.33    0.0  13.33      200.00     -0.00

### Efecto de la depreciación sobre el impuesto de renta y el flujo de caja

In [10]:
def compute_cf(ingreso_operativo,
               tax_rate,
               depreciacion):
    utilidad_AI = ingreso_operativo - depreciacion
    impuestos   = cf.after_tax_cashflow(utilidad_AI, tax_rate=tax_rate)
    utilidad_DI = utilidad_AI - impuestos
    cashf       = utilidad_DI + depreciacion
    
    return impuestos, cashf

In [11]:
## impuesto de renta del 35%
tax_rate = cf.interest_rate(const_value=[35]*6, start=2018, freq='A')

## crea el flujo de caja
ingreso_operativo = cf.cashflow(const_value=[0]+[500]*5, start=2018, freq='A') 

## activo depreciable
costs = cf.cashflow(const_value=[200]+[0]*5, start=2018, freq='A')
life  = cf.cashflow(const_value=[5]+[0]*5,   start=2018, freq='A')

**Caso 1: sin depreciación.**

In [12]:
depreciacion_1 = cf.cashflow(const_value=[0]*6, start=2018, freq='A') 
impuesto_1, cf_1 = compute_cf(ingreso_operativo, tax_rate, depreciacion_1)
impuesto_1

2018      0.0
2019    175.0
2020    175.0
2021    175.0
2022    175.0
2023    175.0
Freq: A-DEC, dtype: float64

In [13]:
cf_1

2018      0.0
2019    325.0
2020    325.0
2021    325.0
2022    325.0
2023    325.0
Freq: A-DEC, dtype: float64

**Caso 2: depreciación en linea recta.**

In [14]:
## considere un activo depreciable
depreciacion_2 = cf.depreciation_sl(costs=costs, life=life)['Depr']
depreciacion_2

2018     0.0
2019    40.0
2020    40.0
2021    40.0
2022    40.0
2023    40.0
Freq: A-DEC, Name: Depr, dtype: float64

In [15]:
impuesto_2, cf_2 = compute_cf(ingreso_operativo, tax_rate, depreciacion_2)
impuesto_2

2018      0.0
2019    161.0
2020    161.0
2021    161.0
2022    161.0
2023    161.0
Freq: A-DEC, dtype: float64

In [16]:
cf_2

2018      0.0
2019    339.0
2020    339.0
2021    339.0
2022    339.0
2023    339.0
Freq: A-DEC, dtype: float64

Note que en el resultado anterior el ingreso después de impuestos es mayor que en el caso 1.

**Caso 3: depreciación acelerada.**

In [17]:
depreciacion_3 = cf.depreciation_soyd(costs=costs, life=life)['Depr']
depreciacion_3

2018     0.00
2019    66.67
2020    53.33
2021    40.00
2022    26.67
2023    13.33
Freq: A-DEC, Name: Depr, dtype: float64

In [18]:
impuesto_3, cf_3 = compute_cf(ingreso_operativo, tax_rate, depreciacion_3)
impuesto_3

2018      0.0000
2019    151.6655
2020    156.3345
2021    161.0000
2022    165.6655
2023    170.3345
Freq: A-DEC, dtype: float64

In [19]:
cf_3

2018      0.0000
2019    348.3345
2020    343.6655
2021    339.0000
2022    334.3345
2023    329.6655
Freq: A-DEC, dtype: float64

**Comparación**

In [20]:
pd.DataFrame({'impuesto_1':impuesto_1, 'impuesto_2':impuesto_2, 'impuesto_3':impuesto_3}).round(2)

      impuesto_1  impuesto_2  impuesto_3
2018         0.0         0.0        0.00
2019       175.0       161.0      151.67
2020       175.0       161.0      156.33
2021       175.0       161.0      161.00
2022       175.0       161.0      165.67
2023       175.0       161.0      170.33

In [21]:
pd.DataFrame({'cf_1':cf_1, 'cf_2':cf_2, 'cf_3':cf_3}).round(2)

       cf_1   cf_2    cf_3
2018    0.0    0.0    0.00
2019  325.0  339.0  348.33
2020  325.0  339.0  343.67
2021  325.0  339.0  339.00
2022  325.0  339.0  334.33
2023  325.0  339.0  329.67

***Ejercicio.--*** Una empresa de energía eléctrica realiza las siguientes inversiones: 

* Un nuevo edificio por `$` 1000 (depreciación en línea recta a 20 años) que entra en funcionamiento en 2018-01.


* Una nueva turbina por `$` 300 (depreciación usando el método de la suma de los dígitos de los años, a 10 años) que entra en operación en 2018-04.


* Una nueva turbina por `$` 250 (depreciación usando el método de la suma de los dígitos de los años, a 10 años) que entra en operación en 2018-08.


* Una nueva turbina por `$` 240 (depreciación usando el método de la suma de los dígitos de los años, a 10 años) que entra en operación en 2019-03.


Compute la depreciación total para cada año.

**Bibliografía**

> * [1] SAS/ETS 14.1 User's Guide, 2015.   
* [2] **hp** 12c platinum financial calculator. User's guide. 
* [3] HP Business Consultant II Owner's manual.
* [4] C.S. Park and G.P. Sharp-Bette. Advanced Engineering Economics. John Wiley & Sons, Inc., 1990.