Definición de datos en SQL
===

* *20 min* | Última modificación: Junio 22, 2019

In [1]:
## conexion a la base de datos
%load_ext sql

In [2]:
%config SqlMagic.style = 'PLAIN_COLUMNS'
%config SqlMagic.autopandas = True
import pandas
pandas.set_option('display.notebook_repr_html', False)

In [3]:
%sql mysql+pymysql://root:@localhost

'Connected: root@None'

> Haga clíck [aquí](https://dev.mysql.com/doc/refman/5.7/en/) para acceder al  manual de referencia en línea de MySQL.

> MySQL en [wikipedia](https://en.wikipedia.org/wiki/MySQL)

---

MySQL es un sistema de gestión de bases de datos relacionales ampliamente usado, junto con su clon [MariaDB](http://mariadb.org). 

* Garantiza integridad referencial.

* Es transaccional.

* Cuenta con instaladores para distintas plataformas.

* Soporta un amplio conjunto de SQL.

---

In [4]:
%%sql
-- prepara la db
DROP DATABASE IF EXISTS DDLdb;

 * mysql+pymysql://root:***@localhost
0 rows affected.

Empty DataFrame
Columns: []
Index: []

---

## CREATE DATABASE

In [5]:
%%sql
--
-- Crea la base de datos DDLdb
--
CREATE DATABASE DDLdb;

 * mysql+pymysql://root:***@localhost
1 rows affected.

Empty DataFrame
Columns: []
Index: []

In [6]:
%%sql
--
-- crea la base de datos mydb únicamente si no existe
-- (note que aparece un warning)
--
CREATE DATABASE IF NOT EXISTS DDLdb;

 * mysql+pymysql://root:***@localhost
1 rows affected.

/usr/local/lib/python3.6/dist-packages/pymysql/cursors.py:170: Warning: (1007, "Can't create database 'DDLdb'; database exists")
  result = self._query(query)

Empty DataFrame
Columns: []
Index: []

## SHOW DATABASES

In [7]:
%%sql 
--
-- muestra las bases de datos existentes
--
SHOW DATABASES;

 * mysql+pymysql://root:***@localhost
5 rows affected.

             Database
0  information_schema
1               DDLdb
2               mysql
3  performance_schema
4                 sys

## USE

In [8]:
%%sql
--
-- Se conecta a la base de datos llamada DDLdb
--
USE DDLdb;

 * mysql+pymysql://root:***@localhost
0 rows affected.

Empty DataFrame
Columns: []
Index: []

## DROP DATABASE

In [9]:
%%sql
--
-- Borra la base de datos
--
DROP DATABASE IF EXISTS DDLdb;
SHOW DATABASES;

 * mysql+pymysql://root:***@localhost
0 rows affected.
4 rows affected.

             Database
0  information_schema
1               mysql
2  performance_schema
3                 sys

---
**Ejercicio.--** Cree las bases de datos llamadas DDLdb1 y DDLdb2.

**Ejercicio.--** Conectese a la base de datos DDLdb1.

**Ejercicio.--** Conectese a la base de datos DDLdb2.

**Ejercicio.--** Borre las bases de datos DDLdb1 y DDLdb2.

---

Las bases de datos se componen de tablas relacionadas por uno o mas campos, lo que permite gestionar diferentes fuentes de información.

A continuación se presentan algunas funciones necesarias para la gestión de tablas:

## CREATE TABLE

    CREATE TABLE [IF NOT EXISTS] tbl_name
        (create_definition,...)
    
    create_definition:
        col_name  column_definition
       
    column_definition:
        data_type 
            [NOT NULL | NULL] 
            [DEFAULT default_value]
            [AUTO_INCREMENT] 
            [UNIQUE [KEY]] 
            [[PRIMARY] KEY]
           
    data_type:
        BIT[(length)]
        | TINYINT[(length)] [UNSIGNED] [ZEROFILL]
        | SMALLINT[(length)] [UNSIGNED] [ZEROFILL]
        | MEDIUMINT[(length)] [UNSIGNED] [ZEROFILL]
        | INT[(length)] [UNSIGNED] [ZEROFILL]
        | INTEGER[(length)] [UNSIGNED] [ZEROFILL]
        | BIGINT[(length)] [UNSIGNED] [ZEROFILL]
        | REAL[(length,decimals)] [UNSIGNED] [ZEROFILL]
        | DOUBLE[(length,decimals)] [UNSIGNED] [ZEROFILL]
        | FLOAT[(length,decimals)] [UNSIGNED] [ZEROFILL]
        | DECIMAL[(length[,decimals])] [UNSIGNED] [ZEROFILL]
        | NUMERIC[(length[,decimals])] [UNSIGNED] [ZEROFILL]
        | DATE
        | TIME[(fsp)]
        | TIMESTAMP[(fsp)]
        | DATETIME[(fsp)]
        | YEAR
        | CHAR[(length)] 
        | VARCHAR(length) 
        | BINARY[(length)]
        | VARBINARY(length)
        | TINYTEXT
        | TEXT[(length)]
        | MEDIUMTEXT
        | LONGTEXT
        | ENUM(value1,value2,value3,...)
        | SET(value1,value2,value3,...)

In [10]:
%%sql
CREATE DATABASE IF NOT EXISTS DDLdb;
USE DDLdb;
--
-- crea la tabla
--
CREATE TABLE persons (
    id INT,
    firstname VARCHAR(10),
    surname VARCHAR(10),
    birthday DATE,
    color VARCHAR(9),
    quantity INT
    );

 * mysql+pymysql://root:***@localhost
1 rows affected.
0 rows affected.
0 rows affected.

Empty DataFrame
Columns: []
Index: []

---
**Ejercicio.--** Describa que devuelve el comando:

    SHOW TABLES;
    
**Ejercicio.--** Describa que devuelve el comando:

    SHOW CREATE TABLE mytable;
    
**Ejercicio.--** Describa que devuelve el comando:

    DESCRIBE mytable;
    
---

## ALTER TABLE

    ALTER TABLE tbl_name (alter_definition, ...)
    
    alter_definition:
        ADD column_name column_definition [FIRST | AFTER column_name]
        | MODIFY column_name  column_definition
        | DROP column_name

In [11]:
%%sql
-- 
-- Agrega una nueva columna especificando su posición.
--
ALTER TABLE persons ADD state varchar(8) AFTER color;
DESCRIBE persons;

 * mysql+pymysql://root:***@localhost
0 rows affected.
7 rows affected.

       Field         Type Null Key Default Extra
0         id      int(11)  YES        None
1  firstname  varchar(10)  YES        None
2    surname  varchar(10)  YES        None
3   birthday         date  YES        None
4      color   varchar(9)  YES        None
5      state   varchar(8)  YES        None
6   quantity      int(11)  YES        None

In [12]:
%%sql
-- 
-- Modifica el tamaño de los campos de una columna.
--
ALTER TABLE persons MODIFY color varchar(25);
DESCRIBE persons;

 * mysql+pymysql://root:***@localhost
0 rows affected.
7 rows affected.

       Field         Type Null Key Default Extra
0         id      int(11)  YES        None
1  firstname  varchar(10)  YES        None
2    surname  varchar(10)  YES        None
3   birthday         date  YES        None
4      color  varchar(25)  YES        None
5      state   varchar(8)  YES        None
6   quantity      int(11)  YES        None

In [13]:
%%sql
--
-- Borra una columna.
--
ALTER TABLE persons DROP state;
DESCRIBE persons;

 * mysql+pymysql://root:***@localhost
0 rows affected.
6 rows affected.

       Field         Type Null Key Default Extra
0         id      int(11)  YES        None
1  firstname  varchar(10)  YES        None
2    surname  varchar(10)  YES        None
3   birthday         date  YES        None
4      color  varchar(25)  YES        None
5   quantity      int(11)  YES        None

---

In [14]:
%%sql
--
-- Borrado de la base de datos.
--
DROP DATABASE IF EXISTS DDLdb;

 * mysql+pymysql://root:***@localhost
1 rows affected.

Empty DataFrame
Columns: []
Index: []