Transformación de tablas almacendas como listas de listas
========================

* *120 min* | Última modificación: Junio 22, 2019

**Este tutorial contiene un taller de transformación de datos en el que se llevan a la práctica los conceptos presentados en los tutoriales anteriores.**

## Selección de datos de tablas

In [1]:
## lectura del archivo como una lista de strings
mail = open('https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/mail.csv', 'r').readlines()
mail

['t,srcuser,srchost,dstuser,dsthost,size\n',
 '2006-05-11 10:15:08,barb,saturn,tricia,mars,58274\n',
 '2006-05-12 12:48:13,tricia,mars,gene,venus,194925\n',
 '2006-05-12 15:02:49,phil,mars,phil,saturn,1048\n',
 '2006-05-13 13:59:18,barb,saturn,tricia,venus,271\n',
 '2006-05-14 09:31:37,gene,venus,barb,mars,2291\n',
 '2006-05-14 11:52:17,phil,mars,tricia,saturn,5781\n',
 '2006-05-14 14:42:21,barb,venus,barb,venus,98151\n',
 '2006-05-14 17:03:01,tricia,saturn,phil,venus,2394482\n',
 '2006-05-15 07:17:48,gene,mars,gene,saturn,3824\n',
 '2006-05-15 08:50:57,phil,venus,phil,venus,978\n',
 '2006-05-15 10:25:52,gene,mars,tricia,saturn,998532\n',
 '2006-05-15 17:35:31,gene,saturn,gene,mars,3856\n',
 '2006-05-16 09:00:28,gene,venus,barb,mars,613\n',
 '2006-05-16 23:04:19,phil,venus,barb,venus,10294\n',
 '2006-05-17 12:49:23,phil,mars,tricia,saturn,873\n',
 '2006-05-19 22:21:51,gene,saturn,gene,venus,23992']

In [2]:
## elimina los `\n` al final de cada string
mail = [row[0:-1] for row in mail]
mail

['t,srcuser,srchost,dstuser,dsthost,size',
 '2006-05-11 10:15:08,barb,saturn,tricia,mars,58274',
 '2006-05-12 12:48:13,tricia,mars,gene,venus,194925',
 '2006-05-12 15:02:49,phil,mars,phil,saturn,1048',
 '2006-05-13 13:59:18,barb,saturn,tricia,venus,271',
 '2006-05-14 09:31:37,gene,venus,barb,mars,2291',
 '2006-05-14 11:52:17,phil,mars,tricia,saturn,5781',
 '2006-05-14 14:42:21,barb,venus,barb,venus,98151',
 '2006-05-14 17:03:01,tricia,saturn,phil,venus,2394482',
 '2006-05-15 07:17:48,gene,mars,gene,saturn,3824',
 '2006-05-15 08:50:57,phil,venus,phil,venus,978',
 '2006-05-15 10:25:52,gene,mars,tricia,saturn,998532',
 '2006-05-15 17:35:31,gene,saturn,gene,mars,3856',
 '2006-05-16 09:00:28,gene,venus,barb,mars,613',
 '2006-05-16 23:04:19,phil,venus,barb,venus,10294',
 '2006-05-17 12:49:23,phil,mars,tricia,saturn,873',
 '2006-05-19 22:21:51,gene,saturn,gene,venus,2399']

In [3]:
## parte el archivo por las `,`
mail = [row.split(',') for row in mail]
mail

[['t', 'srcuser', 'srchost', 'dstuser', 'dsthost', 'size'],
 ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', '58274'],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', '1048'],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', '271'],
 ['2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', '2291'],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', '5781'],
 ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', '98151'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', '3824'],
 ['2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', '978'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532'],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', '3856'],
 ['2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', '613'],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', '10294'],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', '873'],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', '2399']]

In [4]:
## separa los nombres y los datos
mail = mail[1:]

### Selección de columnas

In [5]:
## Selección de algunas columnas en diferente orden
[[row[0], row[2], row[1],row[4], row[3], row[5]] for row in mail]

[['2006-05-11 10:15:08', 'saturn', 'barb', 'mars', 'tricia', '58274'],
 ['2006-05-12 12:48:13', 'mars', 'tricia', 'venus', 'gene', '194925'],
 ['2006-05-12 15:02:49', 'mars', 'phil', 'saturn', 'phil', '1048'],
 ['2006-05-13 13:59:18', 'saturn', 'barb', 'venus', 'tricia', '271'],
 ['2006-05-14 09:31:37', 'venus', 'gene', 'mars', 'barb', '2291'],
 ['2006-05-14 11:52:17', 'mars', 'phil', 'saturn', 'tricia', '5781'],
 ['2006-05-14 14:42:21', 'venus', 'barb', 'venus', 'barb', '98151'],
 ['2006-05-14 17:03:01', 'saturn', 'tricia', 'venus', 'phil', '2394482'],
 ['2006-05-15 07:17:48', 'mars', 'gene', 'saturn', 'gene', '3824'],
 ['2006-05-15 08:50:57', 'venus', 'phil', 'venus', 'phil', '978'],
 ['2006-05-15 10:25:52', 'mars', 'gene', 'saturn', 'tricia', '998532'],
 ['2006-05-15 17:35:31', 'saturn', 'gene', 'mars', 'gene', '3856'],
 ['2006-05-16 09:00:28', 'venus', 'gene', 'mars', 'barb', '613'],
 ['2006-05-16 23:04:19', 'venus', 'phil', 'venus', 'barb', '10294'],
 ['2006-05-17 12:49:23', 'mars', 'phil', 'saturn', 'tricia', '873'],
 ['2006-05-19 22:21:51', 'saturn', 'gene', 'venus', 'gene', '2399']]

### Selección de filas

In [6]:
## se quiere seleccionar las filas donde srchost='venus'
## Selección de algunas columnas en diferente orden
[[row[0],row[2], row[1]] for row in mail if row[2] == 'venus']

[['2006-05-14 09:31:37', 'venus', 'gene'],
 ['2006-05-14 14:42:21', 'venus', 'barb'],
 ['2006-05-15 08:50:57', 'venus', 'phil'],
 ['2006-05-16 09:00:28', 'venus', 'gene'],
 ['2006-05-16 23:04:19', 'venus', 'phil']]

In [7]:
## se quiere seleccionar las filas donde srchost='venus'
## Selección de algunas columnas en diferente orden
import re
[[row[0],row[1], row[2]] for row in mail if re.search('^s', row[2])]

[['2006-05-11 10:15:08', 'barb', 'saturn'],
 ['2006-05-13 13:59:18', 'barb', 'saturn'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn'],
 ['2006-05-15 17:35:31', 'gene', 'saturn'],
 ['2006-05-19 22:21:51', 'gene', 'saturn']]

In [8]:
[[row[0],row[1], row[2]] for row in mail if row[1] == 'barb' and row[3] == 'tricia']

[['2006-05-11 10:15:08', 'barb', 'saturn'],
 ['2006-05-13 13:59:18', 'barb', 'saturn']]

### Combinación de Columnas

In [9]:
[[row[0], row[1] + '@'+ row[2],row[3] + '@'+ row[4]] for row in mail]

[['2006-05-11 10:15:08', 'barb@saturn', 'tricia@mars'],
 ['2006-05-12 12:48:13', 'tricia@mars', 'gene@venus'],
 ['2006-05-12 15:02:49', 'phil@mars', 'phil@saturn'],
 ['2006-05-13 13:59:18', 'barb@saturn', 'tricia@venus'],
 ['2006-05-14 09:31:37', 'gene@venus', 'barb@mars'],
 ['2006-05-14 11:52:17', 'phil@mars', 'tricia@saturn'],
 ['2006-05-14 14:42:21', 'barb@venus', 'barb@venus'],
 ['2006-05-14 17:03:01', 'tricia@saturn', 'phil@venus'],
 ['2006-05-15 07:17:48', 'gene@mars', 'gene@saturn'],
 ['2006-05-15 08:50:57', 'phil@venus', 'phil@venus'],
 ['2006-05-15 10:25:52', 'gene@mars', 'tricia@saturn'],
 ['2006-05-15 17:35:31', 'gene@saturn', 'gene@mars'],
 ['2006-05-16 09:00:28', 'gene@venus', 'barb@mars'],
 ['2006-05-16 23:04:19', 'phil@venus', 'barb@venus'],
 ['2006-05-17 12:49:23', 'phil@mars', 'tricia@saturn'],
 ['2006-05-19 22:21:51', 'gene@saturn', 'gene@venus']]

### Selección condicional

In [10]:
[row for row in mail if float(row[5])/1024 > 500]

[['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532']]

### Remoción de duplicados

In [11]:
[row[1] for row in mail]

['barb',
 'tricia',
 'phil',
 'barb',
 'gene',
 'phil',
 'barb',
 'tricia',
 'gene',
 'phil',
 'gene',
 'gene',
 'gene',
 'phil',
 'phil',
 'gene']

In [12]:
set([row[1] for row in mail])

{'barb', 'gene', 'phil', 'tricia'}

In [13]:
len(set([row[1] for row in mail]))

4

### Manejo de NULL

In [14]:
taxpayer = open('files/taxpayer.csv', 'r').readlines()
taxpayer = [row[0:-1] for row in taxpayer]
taxpayer = [row.split(',') for row in taxpayer]
taxpayer

[['name', 'id'],
 ['bernina', '198-48'],
 ['berta', 'NULL'],
 ['ben', 'NULL'],
 ['bill', '475-8']]

In [15]:
taxpayer = [ [element if element != 'NULL' else None for element in row] for row in taxpayer]
taxpayer

[['name', 'id'],
 ['bernina', '198-48'],
 ['berta', None],
 ['ben', None],
 ['bill', '475-8']]

In [16]:
[row for row in taxpayer if row[1] is not None]

[['name', 'id'], ['bernina', '198-48'], ['bill', '475-8']]

### Ordenamiento

In [17]:
from operator import itemgetter
sorted([row for row in mail if int(row[5]) > 100000], key=itemgetter(5))

[['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532']]

In [18]:
mail = [[element if index != 5 else int(element) for index, element in enumerate(row)] for row in mail]
mail

[['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', 58274],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', 1048],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', 271],
 ['2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', 2291],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', 5781],
 ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', 98151],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482],
 ['2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', 3824],
 ['2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', 978],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', 3856],
 ['2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', 613],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', 10294],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', 873],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', 2399]]

In [19]:
sorted([row for row in mail if int(row[5]) > 100000], key=itemgetter(5))

[['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482]]

In [20]:
sorted([row for row in mail], key=itemgetter(1,3))

[['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', 98151],
 ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', 58274],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', 271],
 ['2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', 2291],
 ['2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', 613],
 ['2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', 3824],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', 3856],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', 2399],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', 10294],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', 1048],
 ['2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', 978],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', 5781],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', 873],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482]]

### Joins

In [21]:
profile_contact = open('files/profile_contact.csv', 'r').readlines()
profile_contact = profile_contact[1:]
profile_contact = [row[0:-1] for row in profile_contact]
profile_contact = [row.split(',') for row in profile_contact]
profile_contact

[['1', 'AIM', 'user1-aimid'],
 ['1', 'MSN', 'user1-msnid'],
 ['2', 'AIM', 'user2-aimid'],
 ['2', 'MSN', 'user2-msnid'],
 ['2', 'Yahoo', 'user2-yahooid'],
 ['4', 'Yahoo', 'user4-yahooi']]

In [22]:
profile = open('files/profile.csv', 'r').readlines()
profile = profile[1:]
profile = [row[0:-1] for row in profile]
profile = [row.split(',') for row in profile]
profile

[['Fred', '1970-04-13', 'black', 'lutefisk:fadge:pizza', '0'],
 ['Mort', '1969-09-30', 'white', 'burrito:curry:eggroll', '3'],
 ['Brit', '1957-12-01', 'red', 'burrito:curry:pizza', '1'],
 ['Carl', '1973-11-02', 'red', 'eggroll:pizza', '4'],
 ['Sean', '1963-07-04', 'blue', 'burrito:curry', '5'],
 ['Alan', '1965-02-14', 'red', 'curry:fadge', '1'],
 ['Mara', '1968-09-17', 'green', 'lutefisk:fadge', '1'],
 ['Shepard', '1975-09-02', 'black', 'curry:pizza', '2'],
 ['Dick', '1952-08-20', 'green', 'lutefisk:fadge', '0'],
 ['Tony', '1960-05-01', 'white', 'burrito:pizza', '0']]

In [23]:
profile0 = [[str(idx)] + row   for idx, row in enumerate(profile)]
profile0

[['0', 'Fred', '1970-04-13', 'black', 'lutefisk:fadge:pizza', '0'],
 ['1', 'Mort', '1969-09-30', 'white', 'burrito:curry:eggroll', '3'],
 ['2', 'Brit', '1957-12-01', 'red', 'burrito:curry:pizza', '1'],
 ['3', 'Carl', '1973-11-02', 'red', 'eggroll:pizza', '4'],
 ['4', 'Sean', '1963-07-04', 'blue', 'burrito:curry', '5'],
 ['5', 'Alan', '1965-02-14', 'red', 'curry:fadge', '1'],
 ['6', 'Mara', '1968-09-17', 'green', 'lutefisk:fadge', '1'],
 ['7', 'Shepard', '1975-09-02', 'black', 'curry:pizza', '2'],
 ['8', 'Dick', '1952-08-20', 'green', 'lutefisk:fadge', '0'],
 ['9', 'Tony', '1960-05-01', 'white', 'burrito:pizza', '0']]

In [24]:
[[row_pc[0], row_p[1], row_pc[1]] for row_p in profile0 for row_pc in profile_contact  if row_p[0] == row_pc[0]]

[['1', 'Mort', 'AIM'],
 ['1', 'Mort', 'MSN'],
 ['2', 'Brit', 'AIM'],
 ['2', 'Brit', 'MSN'],
 ['2', 'Brit', 'Yahoo'],
 ['4', 'Sean', 'Yahoo']]

In [25]:
[row_pc for row_pc in profile_contact if row_pc[0] in [row_p[0] for row_p in profile0 if row_p[1] == 'Mort']]

[['1', 'AIM', 'user1-aimid'], ['1', 'MSN', 'user1-msnid']]

### Selección del principio o el final

In [26]:
profile[:5]

[['Fred', '1970-04-13', 'black', 'lutefisk:fadge:pizza', '0'],
 ['Mort', '1969-09-30', 'white', 'burrito:curry:eggroll', '3'],
 ['Brit', '1957-12-01', 'red', 'burrito:curry:pizza', '1'],
 ['Carl', '1973-11-02', 'red', 'eggroll:pizza', '4'],
 ['Sean', '1963-07-04', 'blue', 'burrito:curry', '5']]

In [27]:
profile[-5:]

[['Alan', '1965-02-14', 'red', 'curry:fadge', '1'],
 ['Mara', '1968-09-17', 'green', 'lutefisk:fadge', '1'],
 ['Shepard', '1975-09-02', 'black', 'curry:pizza', '2'],
 ['Dick', '1952-08-20', 'green', 'lutefisk:fadge', '0'],
 ['Tony', '1960-05-01', 'white', 'burrito:pizza', '0']]

### Selección en el medio

In [28]:
profile[3:8]

[['Carl', '1973-11-02', 'red', 'eggroll:pizza', '4'],
 ['Sean', '1963-07-04', 'blue', 'burrito:curry', '5'],
 ['Alan', '1965-02-14', 'red', 'curry:fadge', '1'],
 ['Mara', '1968-09-17', 'green', 'lutefisk:fadge', '1'],
 ['Shepard', '1975-09-02', 'black', 'curry:pizza', '2']]

### Realización de cómputos

In [29]:
### Columnas calculadas
data = [[1, 2], [3, 4], [5, 6], [7, 8]]
data

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [30]:
[row[0] * row[1] for row in data]

[2, 12, 30, 56]

## Cadenas de Caracteres

### Mayúsculas / Minúsculas

In [31]:
limbs = open('files/limbs.csv', 'r').readlines()
limbs = limbs[1:]
limbs = [row[0:-1] for row in limbs]
limbs = [row.split(',') for row in limbs]
limbs

[['human', '2', '2'],
 ['insect', '6', '0'],
 ['squid', '0', '10'],
 ['octopus', '0', '8'],
 ['fish', '0', '0'],
 ['centipede', '100', '0 '],
 ['table', '4', '0'],
 ['armchair', '4', '2'],
 ['phonograph', '0', '1 '],
 ['tripod', '3', '0'],
 ['Peg Leg Pete', '1', '2 '],
 ['space alien', 'NULL', 'NUL']]

In [32]:
[[row[0].upper(), row[0].lower(), row[0].capitalize()] for row in limbs]

[['HUMAN', 'human', 'Human'],
 ['INSECT', 'insect', 'Insect'],
 ['SQUID', 'squid', 'Squid'],
 ['OCTOPUS', 'octopus', 'Octopus'],
 ['FISH', 'fish', 'Fish'],
 ['CENTIPEDE', 'centipede', 'Centipede'],
 ['TABLE', 'table', 'Table'],
 ['ARMCHAIR', 'armchair', 'Armchair'],
 ['PHONOGRAPH', 'phonograph', 'Phonograph'],
 ['TRIPOD', 'tripod', 'Tripod'],
 ['PEG LEG PETE', 'peg leg pete', 'Peg leg pete'],
 ['SPACE ALIEN', 'space alien', 'Space alien']]

### Búsqueda de patrones

In [33]:
metals = [[x] for x in 'copper,gold,iron,lead,mercury,platinum,silver,tin'.split(',')]
metals

[['copper'],
 ['gold'],
 ['iron'],
 ['lead'],
 ['mercury'],
 ['platinum'],
 ['silver'],
 ['tin']]

In [34]:
## cadenas que inician con 'c'
[[row[0]] for row in metals if re.search('^co', row[0])]

[['copper']]

In [35]:
## cadenas que finalizan con 'er'
[[row[0]] for row in metals if re.search('er$', row[0])]

[['copper'], ['silver']]

In [36]:
## cadenas que continene 'er'
[[row[0]] for row in metals if re.search('er', row[0])]

[['copper'], ['mercury'], ['silver']]

In [37]:
## cadenas que continene 'pp' a partir de la posición 2
[[row[0]] for row in metals if re.search('^pp', row[0][2:])]

[['copper']]

In [38]:
## cadenas que no continene 'i' 
[[row[0]] for row in metals if not re.search('i', row[0])]

[['copper'], ['gold'], ['lead'], ['mercury']]

In [39]:
## Las primeras 3 letras de cada string
[[row[0][:3]] for row in metals]

[['cop'], ['gol'], ['iro'], ['lea'], ['mer'], ['pla'], ['sil'], ['tin']]

In [40]:
## cadenas que empiezan con una vocal o terminan en 'ir'
[[row[0]] for row in metals if re.search('^[aeiou]|er$', row[0])]

[['copper'], ['iron'], ['silver']]

## Fechas y horas

### Extracción de partes

In [41]:
import time, datetime
datetime.date.today()

datetime.date(2018, 9, 19)

In [42]:
datetime.date.today().isoformat()

'2018-09-19'

In [43]:
datetime.date.today().strftime('%y/%m/%d')

'18/09/19'

In [44]:
datetime.datetime.now()

datetime.datetime(2018, 9, 19, 8, 37, 18, 359576)

In [45]:
datetime.datetime.now().isoformat(' ')

'2018-09-19 08:37:18.368081'

In [46]:
datetime_val = open('files/datetime_val.csv', 'r').readlines()
datetime_val = datetime_val[1:]
datetime_val = [row[0:-1] if row[-1] == '\n' else row for row in datetime_val]
datetime_val = [row.split(',') for row in datetime_val]
datetime_val

[['1970-01-01 00:00:00'],
 ['1987-03-05 12:30:15'],
 ['1999-12-31 09:00:00'],
 ['2000-06-04 15:45:30'],
 ['2000-06-04 15:45:30']]

In [47]:
## Se deben redefinir estas funciones de acuerdo con
## el formato particular de la fecha y hora en los datos

def YEAR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%Y')

def MONTH(s):
    ## Numero del mes
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').month

def MONTHNAME(s):    
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%B')

def MONTHNAME_ABBR(s):    
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%b')


def DAYOFMONTH(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%d')

def DAYNAME(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%A')

def DAYNAME_ABBR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%a')

def WEEKDAY(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%w')

def DAYOFYEAR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%J')

def WEEKOFYEAR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%W')

In [48]:
[[row[0], YEAR(row[0]), MONTH(row[0]), MONTHNAME(row[0]), MONTHNAME_ABBR(row[0])] for row in datetime_val]

[['1970-01-01 00:00:00', '1970', 1, 'January', 'Jan'],
 ['1987-03-05 12:30:15', '1987', 3, 'March', 'Mar'],
 ['1999-12-31 09:00:00', '1999', 12, 'December', 'Dec'],
 ['2000-06-04 15:45:30', '2000', 6, 'June', 'Jun'],
 ['2000-06-04 15:45:30', '2000', 6, 'June', 'Jun']]

In [49]:
[[row[0], DAYOFMONTH(row[0]), DAYNAME(row[0]), DAYNAME_ABBR(row[0]), WEEKDAY(row[0])] for row in datetime_val]

[['1970-01-01 00:00:00', '01', 'Thursday', 'Thu', '4'],
 ['1987-03-05 12:30:15', '05', 'Thursday', 'Thu', '4'],
 ['1999-12-31 09:00:00', '31', 'Friday', 'Fri', '5'],
 ['2000-06-04 15:45:30', '04', 'Sunday', 'Sun', '0'],
 ['2000-06-04 15:45:30', '04', 'Sunday', 'Sun', '0']]

In [50]:
## Se deben redefinir estas funciones de acuerdo con
## el formato particular de la fecha y hora en los datos
def HOUR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%H')

def MINUTE(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%M')

def SECOND(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%S')

In [51]:
[[row[0], HOUR(row[0]), MINUTE(row[0]), SECOND(row[0]) ] for row in datetime_val]

[['1970-01-01 00:00:00', '00', '00', '00'],
 ['1987-03-05 12:30:15', '12', '30', '15'],
 ['1999-12-31 09:00:00', '09', '00', '00'],
 ['2000-06-04 15:45:30', '15', '45', '30'],
 ['2000-06-04 15:45:30', '15', '45', '30']]

In [52]:
[[row[0], datetime.datetime.strptime(row[0], '%Y-%m-%d %H:%M:%S').strftime('%d/%m/%y') ] for row in datetime_val]

[['1970-01-01 00:00:00', '01/01/70'],
 ['1987-03-05 12:30:15', '05/03/87'],
 ['1999-12-31 09:00:00', '31/12/99'],
 ['2000-06-04 15:45:30', '04/06/00'],
 ['2000-06-04 15:45:30', '04/06/00']]

### Cómputos con fechas

In [53]:
### Intervalos
[[datetime.datetime.now() - datetime.datetime.strptime(row[0], '%Y-%m-%d %H:%M:%S')] for row in datetime_val]

[[datetime.timedelta(17793, 31038, 421259)],
 [datetime.timedelta(11520, 72423, 421307)],
 [datetime.timedelta(6836, 85038, 421334)],
 [datetime.timedelta(6680, 60708, 421357)],
 [datetime.timedelta(6680, 60708, 421377)]]

In [54]:
## Otro ejemplo
x = datetime.datetime.strptime('2018-09-30', '%Y-%m-%d')
y = datetime.datetime.strptime('2018-09-01', '%Y-%m-%d')
y - x

datetime.timedelta(-29)

In [55]:
y + datetime.timedelta(days=5)

datetime.datetime(2018, 9, 6, 0, 0)

In [56]:
## Suma 60 horas a cada fecha
[[(datetime.datetime.strptime(row[0], '%Y-%m-%d %H:%M:%S') +
  datetime.timedelta(hours=60)).isoformat(' ')] for row in datetime_val]

[['1970-01-03 12:00:00'],
 ['1987-03-08 00:30:15'],
 ['2000-01-02 21:00:00'],
 ['2000-06-07 03:45:30'],
 ['2000-06-07 03:45:30']]

In [57]:
## Calcula la edad
x = [[(datetime.datetime.now() - datetime.datetime.strptime(row[0], '%Y-%m-%d %H:%M:%S'))] for row in datetime_val]
x

[[datetime.timedelta(17793, 31038, 447060)],
 [datetime.timedelta(11520, 72423, 447093)],
 [datetime.timedelta(6836, 85038, 447110)],
 [datetime.timedelta(6680, 60708, 447124)],
 [datetime.timedelta(6680, 60708, 447137)]]

In [58]:
[[int(row[0].days / 365)] for row in x]

[[48], [31], [18], [18], [18]]

## Resumenes

### Valores únicos

In [59]:
## valores unicos
set([row[1] for row in mail])

{'barb', 'gene', 'phil', 'tricia'}

In [60]:
len(set([row[1] for row in mail]))

4

### Búsqueda del máximo o el mínimo

In [61]:
[row for row in limbs[:-1] if int(row[1]) == max(int(x[1]) for x in limbs[:-1])]

[['centipede', '100', '0 ']]

### Agrupamientos

In [62]:
import itertools
from operator import itemgetter

for key, group in itertools.groupby(sorted(mail, key=itemgetter(1)), itemgetter(1)):
    print(key)
    for g in group:
        print('   ', g)

barb
    ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', 58274]
    ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', 271]
    ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', 98151]
gene
    ['2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', 2291]
    ['2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', 3824]
    ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532]
    ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', 3856]
    ['2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', 613]
    ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', 2399]
phil
    ['2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', 1048]
    ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', 5781]
    ['2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', 978]
    ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', 10294]
    ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', 873]
tricia
    ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925]
    ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482]

In [63]:
## Cuenta el numero de elementos por grupo
[[key, len(list(group))] for key, group in itertools.groupby(sorted(mail, key=itemgetter(1)), itemgetter(1))]

[['barb', 3], ['gene', 6], ['phil', 5], ['tricia', 2]]