Sqoop list-tables
===

* Última modificación: Mayo 19, 2022

Preparación de la base de datos
---

In [1]:
import sqlite3

conn = sqlite3.connect("sample.db")
cur = conn.cursor()

conn.executescript(
    """
    DROP TABLE IF EXISTS drivers;
    DROP TABLE IF EXISTS truck_events;

    CREATE TABLE drivers (
        driverId       INT,
        name           STRING,
        ssn            STRING,
        location       STRING,
        certified      STRING,
        wage_plan      STRING
    );
    
    CREATE TABLE truck_events (
        driverId       INT,
        truckId        INT,
        eventTime      STRING,
        eventType      STRING,
        longitude      DOUBLE,
        latitude       DOUBLE,
        eventKey       STRING,
        correlationId  STRING,
        driverName     STRING,
        routeId        STRING,
        routeName      STRING,
        eventDate      STRING
    );    
    
    CREATE TABLE timesheet (
        driverId       INT, 
        week           INT, 
        hours_logged   INT, 
        miles_logged   INT 
    );
        
    """
)
conn.commit()
conn.close()

In [2]:
!sqlite3 sample.db "SELECT name FROM sqlite_master WHERE type='table';"

drivers
truck_events
timesheet

list-tables
--

In [3]:
%%writefile list-tables.sh
sqoop list-tables \
    --connect jdbc:sqlite:sample.db \
    --driver org.sqlite.JDBC

Writing list-tables.sh

In [4]:
!bash list-tables.sh

Warning: /opt/hbase does not exist! HBase imports will fail.
Please set $HBASE_HOME to the root of your HBase installation.
Warning: /opt/hbase does not exist! HCatalog jobs will fail.
Please set $HCAT_HOME to the root of your HCatalog installation.
Warning: /opt/accumulo does not exist! Accumulo imports will fail.
Please set $ACCUMULO_HOME to the root of your Accumulo installation.
Warning: /opt/zookeeper does not exist! Accumulo imports will fail.
Please set $ZOOKEEPER_HOME to the root of your Zookeeper installation.
drivers
timesheet
truck_events

In [5]:
!rm *.db *.java *.sh

rm: cannot remove '*.java': No such file or directory