Taller: Análisis de la base de datos del Titanic
===

*Diplomado en Analítica para Mercados de Energía*

El archivo 'https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/titanic.csv' contiene la información de los pasajeros del Titanic.

Punto 1
---

Imprima los primeros 8 registros del archivo.

Punto 2
----

Exporte el archivo a formato XLS.

Punto 3
---

Imprima los tipos de columnas del dataframe.

Punto 4
---

Extraiga la columna 'Age'.

Punto 5
---

Extraiga las columnas 'Age' y 'Sex'.

Punto 6
---

Imprima los pasageros con edad superior a los 35 años.

Punto 7
---

Imprima los pasageros que están en las cabinas clase 2 y 3.

Punto 8
---

Cuántos registros no tienen edad?

Punto 9
----

Imprima los nombres de los pasageros con edad mayor a 35

Punto 10
---

Imprima las filas 10 a 25 y las columnas 3 a 5.

Punto 11
---

Imprima los pasageros con nombre 'anonymous'.

Punto 12
---

Compute la media de la edad de los pasageros.

Punto 13
----

Compute la mediana de las columnas "Age" y "Fare".

Punto 14
---

¿Cuál es la edad promedio de los hombres y las mujeres?

Punto 15
---

¿Cual es el promedio de la columna 'Fare' por sexo ('Sex') y clase de la cabina ('Pclass')?

Punto 16
---

¿Cuántos registros hay por cada clase de cabina ('Pclass')?

Punto 17
----

Ordene el dataset por la edad de los pasageros.

Punto 18
---

Ordene el dataset por la clase de la cabina y la edad.

Punto 19
---

Cree una nuava columna que contenga unicamente el apellido del pasagero.

Punto 20
---

Imprima los diez pasageros con los nombres mas largos.

En la columna 'Sex' reemplace 'male' por 'M' y 'female' por 'F'.