Datos de fecha y hora
===

* *90:00 min* | Última modificación: Agosto 24, 2021 | [YouTube]

## Fecha actual

In [41]:
import time, datetime

datetime.date.today()

datetime.date(2018, 9, 19)

In [42]:
datetime.date.today().isoformat()

'2018-09-19'

In [43]:
datetime.date.today().strftime('%y/%m/%d')

'18/09/19'

In [44]:
datetime.datetime.now()

datetime.datetime(2018, 9, 19, 8, 37, 18, 359576)

In [45]:
datetime.datetime.now().isoformat(' ')

'2018-09-19 08:37:18.368081'

In [1]:
datetime_val = [
    ['1970-01-01 00:00:00'],
    ['1987-03-05 12:30:15'],
    ['1999-12-31 09:00:00'],
    ['2000-06-04 15:45:30'],
    ['2000-06-04 15:45:30'], 
]

datetime_val

[['1970-01-01 00:00:00'],
 ['1987-03-05 12:30:15'],
 ['1999-12-31 09:00:00'],
 ['2000-06-04 15:45:30'],
 ['2000-06-04 15:45:30']]

In [47]:
#
# Se deben redefinir estas funciones de acuerdo con
# el formato particular de la fecha y hora en los datos
#

def YEAR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%Y')

def MONTH(s):
    #
    # Numero del mes
    #
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').month

def MONTHNAME(s):    
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%B')

def MONTHNAME_ABBR(s):    
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%b')

def DAYOFMONTH(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%d')

def DAYNAME(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%A')

def DAYNAME_ABBR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%a')

def WEEKDAY(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%w')

def DAYOFYEAR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%J')

def WEEKOFYEAR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%W')

In [48]:
[
    [
        row[0],
        YEAR(row[0]),
        MONTH(row[0]),
        MONTHNAME(row[0]),
        MONTHNAME_ABBR(row[0]),
    ]
    for row in datetime_val
]

[['1970-01-01 00:00:00', '1970', 1, 'January', 'Jan'],
 ['1987-03-05 12:30:15', '1987', 3, 'March', 'Mar'],
 ['1999-12-31 09:00:00', '1999', 12, 'December', 'Dec'],
 ['2000-06-04 15:45:30', '2000', 6, 'June', 'Jun'],
 ['2000-06-04 15:45:30', '2000', 6, 'June', 'Jun']]

In [49]:
[
    [
        row[0],
        DAYOFMONTH(row[0]),
        DAYNAME(row[0]),
        DAYNAME_ABBR(row[0]),
        WEEKDAY(row[0]),
    ]
    for row in datetime_val
]

[['1970-01-01 00:00:00', '01', 'Thursday', 'Thu', '4'],
 ['1987-03-05 12:30:15', '05', 'Thursday', 'Thu', '4'],
 ['1999-12-31 09:00:00', '31', 'Friday', 'Fri', '5'],
 ['2000-06-04 15:45:30', '04', 'Sunday', 'Sun', '0'],
 ['2000-06-04 15:45:30', '04', 'Sunday', 'Sun', '0']]

In [50]:
#
# Se deben redefinir estas funciones de acuerdo con
# el formato particular de la fecha y hora en los datos
#
def HOUR(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%H')

def MINUTE(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%M')

def SECOND(s):
    return datetime.datetime.strptime(s, '%Y-%m-%d %H:%M:%S').strftime('%S')

In [51]:
[
    [
        row[0],
        HOUR(row[0]),
        MINUTE(row[0]),
        SECOND(row[0]),
    ]
    for row in datetime_val
]

[['1970-01-01 00:00:00', '00', '00', '00'],
 ['1987-03-05 12:30:15', '12', '30', '15'],
 ['1999-12-31 09:00:00', '09', '00', '00'],
 ['2000-06-04 15:45:30', '15', '45', '30'],
 ['2000-06-04 15:45:30', '15', '45', '30']]

In [52]:
[
    [
        row[0],
        datetime.datetime.strptime(row[0], "%Y-%m-%d %H:%M:%S").strftime("%d/%m/%y"),
    ]
    for row in datetime_val
]

[['1970-01-01 00:00:00', '01/01/70'],
 ['1987-03-05 12:30:15', '05/03/87'],
 ['1999-12-31 09:00:00', '31/12/99'],
 ['2000-06-04 15:45:30', '04/06/00'],
 ['2000-06-04 15:45:30', '04/06/00']]

### Cómputos con fechas

In [53]:
#
# Intervalos
#
[
    [datetime.datetime.now() - datetime.datetime.strptime(row[0], "%Y-%m-%d %H:%M:%S")]
    for row in datetime_val
]

[[datetime.timedelta(17793, 31038, 421259)],
 [datetime.timedelta(11520, 72423, 421307)],
 [datetime.timedelta(6836, 85038, 421334)],
 [datetime.timedelta(6680, 60708, 421357)],
 [datetime.timedelta(6680, 60708, 421377)]]

In [54]:
#
# Otro ejemplo
#
x = datetime.datetime.strptime('2018-09-30', '%Y-%m-%d')
y = datetime.datetime.strptime('2018-09-01', '%Y-%m-%d')
y - x

datetime.timedelta(-29)

In [55]:
#
# Suma de un incremento
#
y + datetime.timedelta(days=5)

datetime.datetime(2018, 9, 6, 0, 0)

In [56]:
#
# Suma 60 horas a cada fecha
#
[[(datetime.datetime.strptime(row[0], '%Y-%m-%d %H:%M:%S') +
  datetime.timedelta(hours=60)).isoformat(' ')] for row in datetime_val]

[['1970-01-03 12:00:00'],
 ['1987-03-08 00:30:15'],
 ['2000-01-02 21:00:00'],
 ['2000-06-07 03:45:30'],
 ['2000-06-07 03:45:30']]

In [57]:
#
# Calcula la edad
#
x = [
    [
        (
            datetime.datetime.now()
            - datetime.datetime.strptime(row[0], "%Y-%m-%d %H:%M:%S")
        )
    ]
    for row in datetime_val
]
x

[[datetime.timedelta(17793, 31038, 447060)],
 [datetime.timedelta(11520, 72423, 447093)],
 [datetime.timedelta(6836, 85038, 447110)],
 [datetime.timedelta(6680, 60708, 447124)],
 [datetime.timedelta(6680, 60708, 447137)]]

In [58]:
[[int(row[0].days / 365)] for row in x]

[[48], [31], [18], [18], [18]]