Funciones de Usuario
===

* *90:00 min* | Última modificación: Agosto 24, 2021 | [YouTube]

## Operación de las funciones internas

In [1]:
#
# La función print() internamente genera
# la salida en pantalla de sus argumentos
#
print("Hola mundo cruel!")

Hola mundo cruel!

In [2]:
#
# La función sum() toma una lista y retorna
# su suma.
sum([1, 2, 3, 4, 5, 6])

21

## Creación de funciones de usuario

In [3]:
#
# Abstracción del concepto f(x) = x ** 2
# ===============================================
#
#   x  -> argumento de la función
#   return  -> indica que retorna
#
def square(x):
    x_squared = x ** 2
    return x_squared

In [4]:
#
# Diferencia argumento posicional y nombrado
# ===============================================
#
display(
    square(2),
    square(x=2)
)

4

In [21]:
# 
# Las funciones puden ser llamadas dentro de
# otras
# ===============================================
#
def sum_of_squares(x, y):          
    return square(x) + square(y)

In [22]:
sum_of_squares(1, 2)

5

## Errores típicos

In [ ]:
#
# Error causado cuando el argumento no existe
# ===============================================
#

![function_unexpected_keyword_argument.png](assets/function_unexpected_keyword_argument.png)

In [ ]:
#
# Error causado al usar una variable inexistente
# ===============================================
#

![function_name_is_not_defined.png](assets/function_name_is_not_defined.png)

In [ ]:
#
# Error causado al llamar la función con un
# número equivocado de argumentos.
# ===============================================
#

![error_posicional_arg.png](assets/error_posicional_arg.png)

## Argumentos

In [12]:
#
# Asignación de los valores de las llamadas a
# los argumentos de la función.
# ===============================================
#
def my_function(a, b, c):
    print("a:", a)
    print("b:", b)
    print("c:", c)
    
    
my_function(1, 2, 3)

a: 1
b: 2
c: 3

## Retorno de valores

In [14]:
#
# Asignación del resultado de una función 
# cuando la función no retorna nada
# ===============================================
#
def function_returning_nothing(x):
    pass


y = function_returning_nothing(1)

display(
    y,
    type(y)
)

In [16]:
#
# Retorno de varios valores 
# ===============================================
#
def function_returning_a_tuple(x, y):
    return x, y


function_returning_a_tuple(1, 2)

(1, 2)

In [17]:
#
# Se debe verificar que la función siempre 
# retorne un valor
# ===============================================
#
def comparing_function(x, y):
    if x > y: 
        return True
    
    
comparing_function(2, 1)

True

In [18]:
#
# Esta llamada no retorna un valor
# ===============================================
#
display(
    comparing_function(1, 2),
    type(comparing_function(1, 2))
)

In [ ]:
#
# Corrección
#
def comparing_function(x, y):
    if x > y: 
        return True
    return False
    
    
comparing_function(1, 2)

## Ambito

In [7]:
#
# Accesso a variables definidas fuera del ámbito
# de la función
# ===============================================
#
username = "wick.john"

def print_username():
    print(username)
    
    
print_username()

wick.john

Explicación:

     
     +-- Ambiente del módulo -------------+      +-- Ambiente de la función ------------------+        
     | {                                  |      | creado con la llamada a la funcion         |
     |     'username': "wick.john",       |      | {                                          |
     |     'print_username': #function,   | <=== |     'ambiente_padre': ambiente del modulo  |
     | }                                  |      | }                                          |
     +------------------------------------+      +--------------------------------------------+

In [20]:
#
# Ambito de las variables
# ===============================================
#
int_var = 5

def my_function(int_var):
    int_var = 3
    print("inside:", int_var)
    
my_function(int_var)
print("outside:", int_var)

inside: 3
outside: 5

    Codigo                Memoria
    -----------------------------------------------------------
                          ambiente = {}, funcion = {}
    int_var = 5
                          ambiente = {'int_var': 5}, funcion = {}
    my_function(int_var)
                          ambiente = {'int_var': 5}, funcion = {'int_var': 5}
        (cuerpo de la funcion)
        int_var = 3
                          ambiente = {'int_var': 5}, funcion = {'int_var': 3}

## Comandos global y nonlocal

In [10]:
#
# Se define la variable como global
#
global_var = 0

def user_function():
    """Cambia el valor de la variable global"""
    global global_var
    global_var += 1
    
    
display(global_var)
user_function()
display(global_var)

0

1

In [13]:
#
# Sin nonlocal
#
def outer():
    n = 1

    def inner():
        n = 2
        print(n)

    inner()
    print(n)


outer()

2
1

In [12]:
#
# Con nonlocal
#
def outer():
    n = 1

    def inner():
        nonlocal n
        n = 2
        print(n)

    inner()
    print(n)


outer()

2
2

## Side effects

In [9]:
#
# Side effects con variables
# ===============================================
#
a = 1
b = 2

def a_plus_b():
    return a + b


a_plus_b()

3

In [10]:
#
# Side effect: un cambio inadvertido cambia
# cambios no esperados en el resultado de la
# función (indeseado!)
#
a = 3

a_plus_b()

5

In [21]:
#
# Side effects con listas
# ===============================================
#
my_list = [1, 2]

def my_function(a_list):
    a_list.append('a')
    
    
my_function(my_list)
#
# Efecto indeseado:
#
print(my_list)

[1, 2, 'a']

In [22]:
#
# Corrección: no se debe modificar la lista
# externa
# 
my_list = [1, 2]

def my_function(a_list):
    a_list = a_list.copy()
    a_list.append('a')
    

my_function(my_list)
print(my_list)

[1, 2]

In [24]:
#
# Si se desea modificar la lista
#
my_list = [1, 2]

def my_function(a_list):
    a_list = a_list.copy()
    a_list.append('a')
    return a_list
    

my_new_list = my_function(my_list)
print(my_list)
print(my_new_list)

[1, 2]
[1, 2, 'a']

In [2]:
#
# Side effects con listas
# ===============================================
# La variable L no debería acumular la lista ya 
# que el valor por defecto de L es []
# 
def f(a, L=[]):
    L.append(a)
    return L


print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [ ]:
#
# Corrección del side effect usando None
#
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

In [23]:
#
# Side effects con diccionarios
# ===============================================
#
my_dict = {
    0: 'a',
    1: 'b',
}

def my_function(a_dict):
    a_dict[0] = 'A'
    
    
my_function(my_dict)
#
# Efecto indeseado:
#
print(my_dict)

{0: 'A', 1: 'b'}

In [ ]:
my_dict = {
    0: 'a',
    1: 'b',
}

def my_function(a_dict):
    a_dict = a_dict.copy()
    a_dict[0] = 'A'
    
    
my_function(my_dict)
print(my_dict)

## Argumentos posiciones, valores por defecto y número variable de argumentos

In [33]:
#
# Tipos de argumentos
#
def my_function(first_arg, second_arg=2, *args, **kwargs):
    print(' first_arg:', first_arg)
    print('second_arg:', second_arg)
    print('      args:', args)
    print('    kwargs:', kwargs)
    
    

#
# Llamada con argumentos posicionales
#
my_function(1, 2)

 first_arg: 1
second_arg: 2
      args: ()
    kwargs: {}

In [34]:
#
# Llamada con argumentos por nombre
#
my_function(second_arg=2, first_arg=1)

 first_arg: 1
second_arg: 2
      args: ()
    kwargs: {}

In [35]:
#
# Llamada con argumentos extra sin nombre
# 
my_function(1, 2, 3, 4)

 first_arg: 1
second_arg: 2
      args: (3, 4)
    kwargs: {}

In [29]:
#
# Llamada con argumentos extra con nombre
# 
my_function(first_arg=1, second_arg=2, third_arg=3)

first_arg: 1
second_arg: 2
args: ()
kwargs {'third_arg': 3}

In [36]:
#
# Combinacion de los casos anteriores
#
my_function(1, 2, 3, 4, a=5, b=6, c=7)

 first_arg: 1
second_arg: 2
      args: (3, 4)
    kwargs: {'a': 5, 'b': 6, 'c': 7}

## Llamada de funciones con argumentos especificados en un diccionario

In [31]:
def my_function(a, b, c):
    return a + b + c


args = {
    'a': 1,
    'b': 2,
    'c': 3,
}

my_function(**args)

6

## Documentación de funciones

In [2]:
#
# Define una función sin cuerpo pero documentada
#
def my_function():
    """No hace nada"""
    
my_function.__doc__

'No hace nada'

In [3]:
help(my_function)

Help on function my_function in module __main__:

my_function()
    No hace nada

## Funciones anónimas

In [3]:
#
# Función creada con nombre
#
def incr(x):
    return x + 1


incr(1)

2

In [5]:
#
# Función anónima o lambda
#
incr_ = lambda x: x + 1
incr_(1)

2

In [33]:
#
# Las funciones lambda se puede aplicar
# directamente
#
(lambda x:x + 1)(2)

3

## Técnicas avanzadas

In [6]:
#
# Creación de una función que devuelve otra
#
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(1)

43

In [7]:
#
# Función compuesta de varias subfunciones
# Principio de responsabilidad simple:
# cada función hace una tarea y solo una tarea
#
def complex_function(x):
    def constant():
        return 1

    def first():
        return x

    def second():
        return x ** 2

    result = constant() + first() + second()
    return result
    
complex_function(2)

7

## Manejo de Errores y Excepciones

In [1]:
def sqrt(x):
    try:
        return x ** 0.5
    
    except:
        print("x must be a float or integer")
        
display(
    sqrt(1.0),
    sqrt(-1.0),
    sqrt("1")
)

x must be a positive float or integer

1.0

(6.123233995736766e-17+1j)

None

In [2]:
def sqrt(x):
    try:
        return x ** 0.5
    
    except TypeError:
        print("x must be a float or integer")
        
display(
    sqrt(1.0),
    sqrt(-1.0),
    sqrt("1")
)

x must be a float or integer

1.0

(6.123233995736766e-17+1j)

None

In [3]:
def sqrt(x):
    if x < 0:
        raise ValueError("x must be > 0")
    try:
        return x ** 0.5
    
    except TypeError:
        print("x must be a float or integer")
        
display(
    sqrt(1.0),
    sqrt(-1.0),
    sqrt("1")
)

ValueError: x must be > 0

## Ejemplo

Se desea construir una función que cuente las ocurrencias de cada elemento en una columna de una tabla.

In [9]:
#
# Se descargan los datos de la tabla
#
tweets_url = "https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/tweets.csv" 
!wget --quiet {tweets_url} -P /tmp/

In [10]:
#
# Se cargan los datos en una tabla
#
import pandas as pd

tweets_df = pd.read_csv("/tmp/tweets.csv")
tweets_df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [11]:
#
# Se desea analizar los retweets. Estos
# Empiezan por RT
#
tweets_df.text

0     RT @bpolitics: .@krollbondrating's Christopher...
1     RT @HeidiAlpine: @dmartosko Cruz video found.....
2     Njihuni me Zonjën Trump !!! | Ekskluzive https...
3     Your an idiot she shouldn't have tried to grab...
4     RT @AlanLohner: The anti-American D.C. elites ...
                            ...
95    RT @claytoncubitt: Stop asking Bernie supporte...
96    Kasich is gonna fuck this up for Ted Cruz  htt...
97    RT @akaMaude13: Seriously can't make this up. ...
98    Kasich is gonna fuck this up for Ted Cruz  htt...
99    @marklevinshow try reporting this truth. https...
Name: text, Length: 100, dtype: object

In [16]:
#
#
result = filter(lambda x: x[:2] == "RT", tweets_df.text)
res_list = list(result)
res_list[:5]

["RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/…",
 'RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3',
 'RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:…',
 'RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE',
 'RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.']

In [17]:
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    cols_count = {}

    try:
        col = df[col_name]
        
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
    
        return cols_count

    except ValueError:
        print(f"La columna {col_name} no existe!")

counted_entries = count_entries(tweets_df, 'lang')
print(counted_entries)

{'en': 97, 'et': 1, 'und': 2}