Manejo de nulos
===

In [1]:
##
## Apertura de la conexi√≥n
##
import sqlite3

conn = sqlite3.connect(":memory:")  ## aca se indica el nombre de la db.
cur = conn.cursor()

In [2]:
conn.executescript(
    """
DROP TABLE IF EXISTS nulltable;

CREATE TABLE  nulltable (
    col1 INT,
    col2 VARCHAR(1)
);

INSERT INTO nulltable VALUES
    (1,"A"),
    (2,NULL),
    (NULL,"C"),
    (NULL,NULL),
    (5,"E");"""
)
conn.commit()

cur.execute("SELECT * FROM nulltable;").fetchall()

[(1, 'A'), (2, None), (None, 'C'), (None, None), (5, 'E')]

In [3]:
cur.execute("SELECT * FROM nulltable WHERE col1 IS NULL;").fetchall()

[(None, 'C'), (None, None)]

In [4]:
cur.execute("SELECT * FROM nulltable WHERE col2 IS NULL;").fetchall()

[(2, None), (None, None)]

In [5]:
#
# condicionales
#
cur.execute(
    "SELECT IFNULL(col1,'Unknown'),  IFNULL(col2,'Unknown') FROM nulltable;"
).fetchall()

[(1, 'A'), (2, 'Unknown'), ('Unknown', 'C'), ('Unknown', 'Unknown'), (5, 'E')]