Analisis 1D - Graficos de comparación univariada
===

* 60:00 min | Última modificación: Abril 5, 2021 | [YouTube]()

In [2]:
import pandas as pd
from scipy import stats

In [6]:
df =pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/playground/master/datasets/iris.csv",)

df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
setosa = df[df.Species == 'setosa'].reset_index(drop=True)
virginica = df[df.Species == 'virginica'].reset_index(drop=True)
versicolor = df[df.Species == 'versicolor'].reset_index(drop=True)
setosa.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
stats.ttest_ind(setosa.Sepal_Width, versicolor.Sepal_Width)

Ttest_indResult(statistic=9.454975848128596, pvalue=1.8452599454769322e-15)

In [11]:
stats.f_oneway(setosa.Sepal_Width, virginica.Sepal_Width, versicolor.Sepal_Width)

F_onewayResult(statistic=49.16004008961206, pvalue=4.492017133309115e-17)