Uso interactivo
===

* *30 min* | Última modificación: Junio 22, 2019

**Bibliografía**.

> [An introduction to R](https://cran.r-project.org/doc/manuals/R-intro.pdf) by W. N. Venables, D. M. Smith and the R Core Team

## Cálculos numéricos

R puede ser usado de forma interactiva como una calculadora. Esto permite que el análisis de datos pueda ser realizado de forma interactiva, de forma similar a como pueden usarse otras herramientas como el lenguaje Python o Matlab. A continuación se ejemplifican los cálculos aritméticos básicos.

In [1]:
2 + 2

[1] 4

In [2]:
50 - 5 * 6

[1] 20

In [3]:
(50 - 5 * 6) / 4 # aritmética entera

[1] 5

In [4]:
8 / 5  # resultado real

[1] 1.6

In [5]:
8 %% 5 # residuo de la division

[1] 3

In [6]:
8 %/% 5  # parte entera de la división

[1] 1

In [7]:
5 ** 2 # potencia

[1] 25

In [8]:
5 ^ 2 # potencia

[1] 25

La asignación puede hacerse de diferentes formas.

In [9]:
x <- 1  # asignación típica en R

In [10]:
x = 1   # tradicional en muchos lenguajes de programación

In [11]:
1 -> x  # posible, pero poco frecuente

También se pueden declarar y usar variables en la ejecución interactiva.

In [12]:
width <- 20
height <- 5 * 9
width * height

[1] 900

In [13]:
tax <- 12.5 / 100
price <- 100.50
price * tax

[1] 12.5625

## Funciones

Las funciones son definidas mediante la palabra reservada `function`. La siguiente función devuelve el cuadrado de su argumento.

In [14]:
square <- function(x) {
    return (x**2) # lo que se retorna tiene que ir obligatoriamente entre paréntesis
    }

In [15]:
square(2)

[1] 4

In [16]:
square <- function(x) {
    x**2 # el último cálculo antes de salir de la función es lo que se retorna 
    }

In [17]:
square(2)

[1] 4

In [18]:
square(1+2)

[1] 9

In [19]:
square(square(2))

[1] 16

In [20]:
square(1) + square(2)

[1] 5

In [21]:
sum_of_squares <- function(x, y) square(x) + square(y)  # las funciones puden ser llamadas dentro de otra

In [22]:
sum_of_squares(1, 2)

[1] 5

## Funciones matemáticas

In [23]:
cos(3.141516)

[1] -1

In [24]:
pi

[1] 3.141593

---
**Ejercicio.--** Calcule el valor de la siguiente expresión:

$$\frac{5-(1 -(3 - \exp(\frac{1}{8}))}{3(4-2)(2-\frac{3}{8})} - 2!(-1)^3 + \sin (0.98\pi)$$

---

## Cadenas de caracteres

En R también pueden usarse cadenas de caracteres (strings). Ellas pueden delimitarse usando comillas simples o dobles.

In [25]:
'hola mundo'  # comillas simples

[1] "hola mundo"

In [26]:
"hola mundo"  # comillas dobles

[1] "hola mundo"

In [27]:
'--"--'  # uso alternado de comillas.

[1] "--\"--"

In [28]:
"--'--"

[1] "--'--"

In [29]:
'--\'--'  # En estos dos casos se requiere usar el `\` para indicar que la comilla intermedia no es el delimitador.

[1] "--'--"

In [30]:
"--\"--"

[1] "--\"--"

El caracter de escape `\n` indica retorno-de-carro o nueva-linea.

In [31]:
s = 'Primera linea.\nsegunda linea.'  
s

[1] "Primera linea.\nsegunda linea."

In [32]:
print(s)  # se debe usar la función print para imprimir con formato.

[1] "Primera linea.\nsegunda linea."

In [33]:
cat('Primera linea.\nsegunda linea.')

Primera linea.
segunda linea.

In [34]:
" Los strings de varias lineas pueden \
  escribirse indicando la continuación de  \
  dobles y son usados corrientemente como \
  comentarios \
"

[1] " Los strings de varias lineas pueden \n  escribirse indicando la continuación de  \n  dobles y son usados corrientemente como \n  comentarios \n"

In [35]:
cat("
  Los strings de varias lineas pueden \ 
  escribirse deli pormitandolos tres comillas  \
  dobles y son usados corrientemente como \
  comentarios
")

  Los strings de varias lineas pueden
  escribirse deli pormitandolos tres comillas
  dobles y son usados corrientemente como
  comentarios

In [36]:
paste('Py', 'thon', sep = '')

[1] "Python"

In [37]:
paste(paste(rep('abc ', 3), collapse = ''), '012')

[1] "abc abc abc  012"

In [38]:
# borra los caracteres '-' de la cadena de texto
gsub(pattern='-', replacement='', x='h-o-l-a- -m-u-n-d-o')

[1] "hola mundo"

In [39]:
# cambia los '-'  por '='
gsub(pattern='-', replacement='=', x='h-o-l-a- -m-u-n-d-o')

[1] "h=o=l=a= =m=u=n=d=o"

In [40]:
# convierte a mayusculas
toupper('hola mundo')

[1] "HOLA MUNDO"

In [41]:
# convierte a minusculas
tolower('HOLA MUNDO')

[1] "hola mundo"

En R, los strings son vectores de caracteres; el primer caracter ocupa la posición 1, el segundo la 2 y así sucesivamente.
 
     +---+---+---+---+---+---+
     | P | y | t | h | o | n |
     +---+---+---+---+---+---+
     1   2   3   4   5   6

In [42]:
word <- 'Python'
substr(word, start = 1,stop = 1)    # caracter en la posición 1

[1] "P"

In [43]:
substr(word, start = 6, stop = 6)     # caracter en la posición 6

[1] "n"

In [44]:
nchar('abcde')  # la función nchar calcula la longitud de una cadena de caracteres.

[1] 5

In [45]:
substr(word, start = nchar(word), stop = nchar(word))    # último caracter

[1] "n"

In [46]:
substr(word, start = nchar(word)-2, stop = nchar(word)-2)    # antepenúltimo caracter

[1] "h"

In [47]:
substr(word, start = 1, stop = 2)

[1] "Py"

In [48]:
substr(word, start = 3, stop = nchar(word))   # desde la posición 3 hasta el final

[1] "thon"

## Vectores

Los vectores en R son la principal estructura para realizar cálculos numéricos.

In [49]:
squares <- c(1, 4, 9, 16, 25)  # las listas se crean con la función `c()`
squares

[1]  1  4  9 16 25

In [50]:
1:5 # forma para crear secuencias

[1] 1 2 3 4 5

In [51]:
seq(5)  # generación de secuencias

[1] 1 2 3 4 5

In [52]:
seq(from=1, to=10, by=2)

[1] 1 3 5 7 9

In [53]:
squares[1]  # Sus elementos se indexan desde uno

[1] 1

In [54]:
1:10-1  # generación de secuencias

 [1] 0 1 2 3 4 5 6 7 8 9

In [55]:
1:(10-1)

[1] 1 2 3 4 5 6 7 8 9

In [56]:
rep(c(1, 2), times = 3)  # repetición de secuencias

[1] 1 2 1 2 1 2

In [57]:
rep(c(1, 2),  each = 2)

[1] 1 1 2 2

In [58]:
rep(c(1, 2), times = 3, each = 2)

 [1] 1 1 2 2 1 1 2 2 1 1 2 2

In [59]:
squares[-1] # los indices negativos indican exclusión del elemento.

[1]  4  9 16 25

In [60]:
squares[(length(squares)-2):length(squares)]  # ultimos tres elementos

[1]  9 16 25

In [61]:
tail(squares, n = 3)

[1]  9 16 25

In [62]:
tail(squares)  # desde el primer hasta el último elemento.

[1]  1  4  9 16 25

In [63]:
head(squares, n = 3)

[1] 1 4 9

In [64]:
x <- 1:3  # concatenacion de vectores
c(x, 0, x)

[1] 1 2 3 0 1 2 3

In [65]:
cubes = c(1, 8, 27, 65, 125)  # lista de cubos con un elemento malo
4 ** 3  # el cubo de 4 es 64, no 65!

[1] 64

In [66]:
cubes[4] = 64  # se reemplaza el valor erróneo
cubes

[1]   1   8  27  64 125

In [67]:
cubes <- c(cubes, 216)     # se agrega el cubo de 6 al final de la lista.
cubes <- append(cubes, 7 ** 3)  # y nuevamente se agrega el cubo de 7 al final
cubes

[1]   1   8  27  64 125 216 343

In [68]:
letters = c('a', 'b', 'c', 'd', 'e', 'f', 'g')
letters

[1] "a" "b" "c" "d" "e" "f" "g"

In [69]:
letters[3:5] = c('C', 'D', 'E')  # se puede reemplazar un rango de posiciones 
letters

[1] "a" "b" "C" "D" "E" "f" "g"

In [70]:
letters[-(2:5)]

[1] "a" "f" "g"

In [71]:
letters[seq(from=1, to=7, by=2)]

[1] "a" "C" "E" "g"

In [72]:
letters = c('a', 'b', 'c', 'd') # la función len retorna la longitud de la lista
length(letters)

[1] 4

In [73]:
a = c('a', 'b', 'c') # los elementos de las listas pueden ser de cualquier tipo.
n = c(1, 2, 3)
x = c(a, n)          # x es una lista
x

[1] "a" "b" "c" "1" "2" "3"

In [74]:
c(1, 3, 5, 7) + 1  # operaciones aritméticas

[1] 2 4 6 8

In [75]:
c(1, 3, 5, 7) + c(2, 4, 6, 8)

[1]  3  7 11 15

In [76]:
1 / c(1, 2, 3)

[1] 1.0000000 0.5000000 0.3333333

In [77]:
sum(c(1, 2, 3, 4)) # suma de los elementos de un vector

[1] 10

In [78]:
sum(1:4)

[1] 10

In [79]:
prod(1:4)

[1] 24

In [80]:
cumsum(1:4) # suma acumulada

[1]  1  3  6 10

In [81]:
cumprod(1:4)  # producto acumulado

[1]  1  2  6 24

## Listas

Las listas son una de las principales estructuras para almacenar información en R. Se usan comunmente para almacenar información. Las listas en lenguaje Python son equivalentes a los vectores en R. Las listas en R no tienen equivalente en Python; sobre ellas no se pueden realizar operaciones matemáticas.

In [82]:
squares = list(1, 4, 9, 16, 25)  # las listas se crean con la palabra list
squares

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

[[4]]
[1] 16

[[5]]
[1] 25

In [83]:
squares = list(a=1, b=4, c=9, d=16, e=25)
squares

$a
[1] 1

$b
[1] 4

$c
[1] 9

$d
[1] 16

$e
[1] 25

In [84]:
squares$a = 2
squares

$a
[1] 2

$b
[1] 4

$c
[1] 9

$d
[1] 16

$e
[1] 25

In [85]:
squares['b']  # acceso por nombre.

$b
[1] 4

In [86]:
squares[2]  # acceso por posición.

$b
[1] 4

In [87]:
print(list(list(1, 2, 3), list(4, 5, 6))) # lista de listas

[[1]]
[[1]][[1]]
[1] 1

[[1]][[2]]
[1] 2

[[1]][[3]]
[1] 3


[[2]]
[[2]][[1]]
[1] 4

[[2]][[2]]
[1] 5

[[2]][[3]]
[1] 6

In [88]:
list(list(1, 2, 3), list(4, 5, 6)) # lista de listas

[[1]]
[[1]][[1]]
[1] 1

[[1]][[2]]
[1] 2

[[1]][[3]]
[1] 3


[[2]]
[[2]][[1]]
[1] 4

[[2]][[2]]
[1] 5

[[2]][[3]]
[1] 6

In [89]:
x <- list(list(1, 2, 3), list(4, 5, 6))
x[1]

[[1]]
[[1]][[1]]
[1] 1

[[1]][[2]]
[1] 2

[[1]][[3]]
[1] 3

In [90]:
x[[1]]

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

In [91]:
x[[1]][2]

[[1]]
[1] 2