# Conversión de tipos

* *60:00 min* | Última modificación: Agosto 11, 2021 | YouTube

In [3]:
%%writefile /tmp/clean1.csv
clientId,date,investsmentId,investmentType,investment
12,25.3.2019,1,5,$597.09
26,21.4.2021,2,0,$678.92
12,19.3.2020,3,4,$717.55
27,18.4.2020,4,6,$534.11
3,25.1.2021,5,2,$718.75
26,5.1.2020,6,3,$414.21
22,5.5.2019,7,0,$434.23
21,2.11.2019,8,2,$861.73
30,27.8.2020,9,4,$729.43
24,13.3.2021,10,1,$407.85
8,12.1.2019,11,3,$364.54
27,19.6.2021,12,4,$367.25
14,29.4.2020,13,5,$724.06
29,22.1.2019,14,4,$484.33
3,26.4.2020,15,0,$197.18
8,23.3.2019,16,0,$632.23
20,12.3.2021,17,3,$569.42
29,10.6.2020,18,5,$557.20
21,29.1.2020,19,3,$837.39
24,14.3.2020,20,4,$541.86
30,14.3.2019,21,4,$697.49
6,1.8.2020,22,5,$638.57
9,30.7.2020,23,2,$264.84
1,29.8.2020,24,5,$593.49
5,29.10.2020,25,3,$592.59
20,29.10.2020,26,4,$482.87
24,8.6.2021,27,6,$815.55
16,26.5.2019,28,5,$191.29
30,16.3.2021,29,2,$841.16
4,7.4.2019,30,4,$477.30
18,24.4.2019,31,4,$536.77
20,28.4.2019,32,2,$700.67
19,3.4.2020,33,4,$239.00
18,23.9.2019,34,2,$311.53
23,29.2.2020,35,2,$526.46
25,16.8.2019,36,0,$750.40
6,25.6.2020,37,5,$466.80
5,8.10.2019,38,1,$667.45
24,20.1.2019,39,4,$349.35
10,1.9.2020,40,0,$110.21
6,16.3.2019,41,0,$744.18
13,23.1.2021,42,4,$208.54
17,22.1.2020,43,4,$603.06
25,14.6.2021,44,2,$289.28
19,7.10.2020,45,1,$224.95
3,15.1.2021,46,2,$626.53
24,12.4.2019,47,6,$366.14
2,8.7.2020,48,5,$800.74
9,11.6.2021,49,0,$457.33
25,21.5.2020,50,4,$242.55
24,3.8.2020,51,3,$229.27
15,29.10.2020,52,1,$279.79
25,3.3.2020,53,0,$431.35
18,11.1.2019,54,1,$802.77
21,6.12.2019,55,2,$109.01
2,4.8.2019,56,0,$215.03
10,5.1.2020,57,5,$578.64
23,9.3.2019,58,6,$892.30
23,27.11.2019,59,3,$427.28
22,19.10.2020,60,5,$604.85
8,13.9.2020,61,3,$494.50
9,6.6.2021,62,2,$464.78
5,2.1.2019,63,2,$334.20
1,4.9.2019,64,4,$312.27
22,23.5.2019,65,6,$327.28
29,2.1.2019,66,3,$743.90
17,28.10.2020,67,0,$340.02
11,16.10.2019,68,0,$106.58
9,8.1.2021,69,5,$470.53
10,3.2.2019,70,5,$167.10
5,2.2.2021,71,3,$700.26
15,3.10.2020,72,1,$842.72
27,6.1.2021,73,5,$230.35
28,12.4.2019,74,2,$584.58
22,28.11.2019,75,4,$830.52
7,4.1.2021,76,2,$368.03
4,9.4.2019,77,3,$322.76
9,10.1.2019,78,3,$291.94
15,25.6.2021,79,0,$625.56
15,23.8.2020,80,1,$460.40
22,29.5.2019,81,5,$114.93
19,31.7.2020,82,3,$513.30
26,1.10.2019,83,0,$151.56
26,16.3.2021,84,2,$750.99
19,19.7.2019,85,6,$285.20
16,18.12.2019,86,0,$377.65
2,28.1.2020,87,6,$127.55
17,20.1.2021,88,1,$840.21
19,23.4.2021,89,5,$742.87
8,12.4.2021,90,6,$ 767.64
6,20.4.2019,91,0,$335.74
15,31.3.2021,92,5,$762.20
8,18.2.2020,93,4,$490.95
22,26.1.2020,94,2,$363.12
10,17.4.2019,95,2,$738.16
28,2.10.2019,96,6,$223.22
3,25.2.2021,97,4,$325.30
1,28.1.2021,98,1,$841.75
16,10.12.2019,99,0,$888.33
16,14.10.2020,100,4,$342.13

Overwriting /tmp/clean1.csv

In [4]:
%%writefile /tmp/client.csv
clientId,name,phone,companyId
1,Hersch Szymanowicz,+237 (561) 702-4118,3
2,Gaven Brito,+51 (870) 799-1508,7
3,Maressa Pavlishchev,+62 (350) 377-8621,4
4,Corine Dunseith,+63 (797) 344-2571,8
5,Ramon Lawrence,+66 (557) 865-3845,6
6,Ibbie Whitehouse,+98 (495) 896-6408,1
7,Neils Capelen,+86 (361) 914-8734,6
8,Thia Malkie,+46 (564) 145-8997,4
9,Missy Folomkin,+33 (962) 798-0776,7
10,Eleanor Gallamore,+86 (366) 702-2334,5
11,Daryl Kehir,+63 (872) 863-1697,9
12,Stanfield Skocroft,+63 (637) 795-7541,3
13,Henryetta Higgan,+46 (322) 206-9391,9
14,Jyoti Orman,+52 (520) 447-3845,3
15,Urbanus Eble,+57 (130) 336-4134,9
16,Hussein Chessell,+62 (690) 516-9418,5
17,Roberta Camelin,+62 (192) 870-2062,3
18,Giuseppe Taunton.,+60 (962) 580-0623,4
19,Hanna Toffetto,+252 (676) 138-4687,8
20,Benedikta Reuble,+46 (111) 641-8385,9
21,Lek Leades,+1 (351) 584-7386,1
22,Normand Meaking,+86 (552) 935-1873,6
23,Henrietta Lauthian,+49 (564) 306-9564,4
24,Gae Dawdary,+62 (715) 824-2951,2
25,Aaron Plews,+55 (240) 137-2969,6
26,Elfreda Shrubb,+62 (295) 637-4199,1
27,Jase Grevile,+81 (865) 199-4601,5
28,Erick Leggan,+98 (396) 812-9975,1
29,Dorthea Linsey,+63 (484) 875-0848,9
30,Kerr Sperrett,+55 (375) 321-7647,1

Writing /tmp/client.csv

In [5]:
%%writefile /tmp/company.csv
companyId,company
1,Tekfly
2,Yambee
3,Topdrive
4,Fivebridge
5,Devbug
6,Mydo
7,Jayo
8,Feednation
9,Livepath
10,Zoombeat

Writing /tmp/company.csv

In [64]:
import numpy as np

company = pd.read_csv("/tmp/company.csv")
client = pd.read_csv("/tmp/client.csv")
data = pd.read_csv("/tmp/clean1.csv")

client['companyId'] = client.companyId.map(company.to_dict()['company'])
client = client.rename(columns={'companyId':'company'})

data.investmentType = data.investmentType.map(
    {
        0: "A",
        1: "B",
        2: "C",
        3: "D",
        4: "E",
        5: "F",
        6: "G",
        7: "H",
        8: "I",
        9: "J",
    }
)


data = data.merge(client, on='clientId')
data = data[['name', 'phone', 'company', 'date', 'investsmentId', 'investmentType', 'investment']]

for i in np.random.choice(100, 10):
    data.loc[int(i), "name"] = data.loc[int(i), "name"].upper()
    
for i in np.random.choice(100, 5):
    data.loc[int(i), "name"] = data.loc[int(i), "name"].lower()
    
for i in np.random.choice(100, 5):
    data.loc[int(i), "company"] = data.loc[int(i), "company"] + " "
    
for i in np.random.choice(100, 7):
    data.loc[int(i), "company"] = data.loc[int(i), "company"] + "  "
    
for i in np.random.choice(100, 3):
    data.loc[int(i), "company"] = " " + data.loc[int(i), "company"]

for i in np.random.choice(100, 5):
    data.loc[int(i), "company"] = data.loc[int(i), "company"].lower() 

for i in np.random.choice(100, 5):
    data.loc[int(i), "company"] = data.loc[int(i), "company"].lower() + " "    
    
for i in np.random.choice(100, 5):
    data.loc[int(i), "company"] = data.loc[int(i), "company"].upper()     
    

for i in np.random.choice(100, 5):
    data.loc[int(i), "investment"] = data.loc[int(i), "investment"].replace("$", "$ ")

for i in np.random.choice(100, 5):
    data.loc[int(i), "investment"] = data.loc[int(i), "investment"].replace("$", " $")
    
for i in np.random.choice(100, 5):
    data.loc[int(i), "investment"] = data.loc[int(i), "investment"].replace("$", " $ ")
    
    
for i in np.random.choice(100, 40, replace=False):
    name = data.loc[int(i), "name"].split(" ")
    data.loc[int(i), "name"] = name[1] + ", " + name[0]
    
    
copia = data.sample(n=21).copy()
data = pd.concat([data, copia])
    
copia = data.sample(n=14).copy()
copia = copia.reset_index(drop=True)
copia.loc[:5, 'phone'] = "NULL"
copia.loc[5:, 'company'] = np.nan
data = pd.concat([data, copia])

data = data.sample(n=len(data))
data = data.reset_index(drop=True)        
    
data

,name,phone,company,date,investsmentId,investmentType,investment
0,Hanna Toffetto,+252 (676) 138-4687,Livepath,19.7.2019,85,G,$285.20
1,Urbanus Eble,+57 (130) 336-4134,Zoombeat,3.10.2020,72,B,$842.72
2,"Lawrence, Ramon",+66 (557) 865-3845,Jayo,29.10.2020,25,D,$592.59
3,Thia Malkie,+46 (564) 145-8997,Devbug,18.2.2020,93,E,$490.95
4,hanna toffetto,+252 (676) 138-4687,Livepath,3.4.2020,33,E,$239.00
...,...,...,...,...,...,...,...
130,ERICK LEGGAN,+98 (396) 812-9975,NaN,12.4.2019,74,C,$584.58
131,"Orman, Jyoti",+52 (520) 447-3845,Fivebridge,29.4.2020,13,F,$724.06
132,Normand Meaking,+86 (552) 935-1873,NaN,5.5.2019,7,A,$434.23
133,Aaron Plews,+55 (240) 137-2969,Jayo,14.6.2021,44,C,$289.28
134,Ibbie Whitehouse,+98 (495) 896-6408,yambee,20.4.2019,91,A,$335.74

In [65]:
data.to_csv("data_to_clean.csv", index=False)

In [2]:
import pandas as pd

In [92]:
import pandas as pd
import numpy as np

pd.set_option("display.notebook_repr_html", False)

In [93]:
%%writefile /tmp/data.csv
Vendor,Date,CarBrand,Color,Price,Code
KASPER B. ORTIZ,14.09.18,Dodge,indigo,"1184",1.0
Cheryl A. Kemp,25.01.20,Dongfeng Motor,violet,1379,2
Nita T. Gay,28.06.21,Renault,green,1591,5
Scarlet X. Stout,17.04.19,Ford,indigo,1901,1
Todd L. Richards,12.11.20,Tata Motors,indigo,1566,3
Philip Z. Pruitt,12.02.20,BMW,green,1440,4
Nita T. Gay,24.10.18,CHEVROLET,blue,1687,6
Kasper B. Ortiz,11.10.20,Buick,indigo,1894,2
Philip Z. Pruitt,22.01.19,Dacia,Violet,1858,6
Cheryl A. Kemp,21.11.18,Daimler,orange,1550,1
Todd L. Richards,28.04.19,LiCHEVROLETncoln,red,1606,2
cheryl a. kemp,28.05.20,Buick,red,1252,"1"
Kasper B. Ortiz,25.08.19,Volkswagen,violet,1468,9
Cheryl A. Kemp,28.11.20,Vauxhall,red,1339,8
Kasper B. Ortiz,16.03.21,Volkswagen,red,1618,9
Philip Z. Pruitt,17.03.21,Daimler,orange,1201,7
CHERYL A. KEMP,07.11.19,Isuzu,indigo,1280,6
NITA T. GAY,29.05.20,Hyundai Motors,orange,1849,7
Kasper B. Ortiz,13.02.20,Peugeot,Blue,1415,9
CHERYL A. KEMP,29.03.20,Maruti Suzuki,blue,1626,0
Kasper B. Ortiz,01.07.20,Mitsubishi Motors,blue,1120,1
NITA T. GAY,03.11.18,RAM Trucks,orange,1056,4
Kasper B. Ortiz,24.02.20,Kia Motors,orange,1375,3
Philip Z. Pruitt,14.05.20,Chevrolet,orange,1656,9
Kasper B. Ortiz,16.06.21,RAM Trucks,orange,1549,7
Kasper B. Ortiz,28.08.18,Kenworth,green,NONE,9
Philip Z. Pruitt,29.11.18,,orange,1469,4
Cheryl A. Kemp,01.10.18,GMC,orange,1087000,3

Overwriting /tmp/data.csv

In [94]:
#
# Carga de datos e inspección inicial
#
data = pd.read_csv("/tmp/data.csv")
display(
    data.head(),
    "-" * 70,
    data.tail(),
)

             Vendor      Date        CarBrand   Color Price  Code
0   KASPER B. ORTIZ  14.09.18           Dodge  indigo  1184   1.0
1    Cheryl A. Kemp  25.01.20  Dongfeng Motor  violet  1379   2.0
2       Nita T. Gay  28.06.21         Renault   green  1591   5.0
3  Scarlet X. Stout  17.04.19            Ford  indigo  1901   1.0
4  Todd L. Richards  12.11.20     Tata Motors  indigo  1566   3.0

'----------------------------------------------------------------------'

              Vendor      Date    CarBrand   Color    Price  Code
23  Philip Z. Pruitt  14.05.20   Chevrolet  orange     1656   9.0
24   Kasper B. Ortiz  16.06.21  RAM Trucks  orange     1549   7.0
25   Kasper B. Ortiz  28.08.18    Kenworth   green     NONE   9.0
26  Philip Z. Pruitt  29.11.18         NaN  orange     1469   4.0
27    Cheryl A. Kemp  01.10.18         GMC  orange  1087000   3.0

In [95]:
#
# Tipos de datos de las columnas
#
data.dtypes

Vendor       object
Date         object
CarBrand     object
Color        object
Price        object
Code        float64
dtype: object

In [96]:
#
# Corrección del campo code a entero
#
data.Code = data.Code.astype(int)
data.dtypes

Vendor      object
Date        object
CarBrand    object
Color       object
Price       object
Code         int64
dtype: object

In [97]:
#
# Corrección del campo price a flotante 
#
data.Price = pd.to_numeric(data.Price, errors="coerce")
data.dtypes

Vendor       object
Date         object
CarBrand     object
Color        object
Price       float64
Code          int64
dtype: object

In [98]:
data.tail()

              Vendor      Date    CarBrand   Color      Price  Code
23  Philip Z. Pruitt  14.05.20   Chevrolet  orange     1656.0     9
24   Kasper B. Ortiz  16.06.21  RAM Trucks  orange     1549.0     7
25   Kasper B. Ortiz  28.08.18    Kenworth   green        NaN     9
26  Philip Z. Pruitt  29.11.18         NaN  orange     1469.0     4
27    Cheryl A. Kemp  01.10.18         GMC  orange  1087000.0     3

In [99]:
#
# Corrección del campo fecha
#
import datetime

data.Date = data.Date.map(
    lambda x: datetime.datetime.strptime(str(x), "%d.%m.%y").strftime("%Y-%m-%d")
)
display(data.dtypes, "", data.head())

Vendor       object
Date         object
CarBrand     object
Color        object
Price       float64
Code          int64
dtype: object

''

''

             Vendor        Date        CarBrand   Color   Price  Code
0   KASPER B. ORTIZ  2018-09-14           Dodge  indigo  1184.0     1
1    Cheryl A. Kemp  2020-01-25  Dongfeng Motor  violet  1379.0     2
2       Nita T. Gay  2021-06-28         Renault   green  1591.0     5
3  Scarlet X. Stout  2019-04-17            Ford  indigo  1901.0     1
4  Todd L. Richards  2020-11-12     Tata Motors  indigo  1566.0     3

In [101]:
#
# Otra opción es convertir la fecha directamente en la lectura
#
data = pd.read_csv(
    "/tmp/data.csv",
    parse_dates=['Date'],
)

data.head()

             Vendor       Date        CarBrand   Color Price  Code
0   KASPER B. ORTIZ 2018-09-14           Dodge  indigo  1184   1.0
1    Cheryl A. Kemp 2020-01-25  Dongfeng Motor  violet  1379   2.0
2       Nita T. Gay 2021-06-28         Renault   green  1591   5.0
3  Scarlet X. Stout 2019-04-17            Ford  indigo  1901   1.0
4  Todd L. Richards 2020-12-11     Tata Motors  indigo  1566   3.0