Bonos
===

* 60:00 min | Última modificación: Juno 22, 2019 | YouTube

**Preparación**

In [1]:
# Importa la librería financiera.
# Solo es necesario ejecutar la importación una sola vez.
import cashflows as cf

`bond(face_value=None, coupon_rate=None, coupon_value=None, 
   num_coupons=None, value=None, ytm=None)`
      
Con:

* `face_value` -- es el valor pagado por el bono a la fecha de expiración.
* `coupon_rate` -- es la tasa de interés pagada por el bono como un porcentaje del `face_value`. Se usa para calcular el `coupon_value` cuando dicho parámetro no es suministrado.
* `coupon_value` -- es el interés pagado por el bono. Si este valor no es suministrado es calculado como `coupon_rate * face_value`.
* `num_coupons` -- número de pagos de interés antes de la fecha de expiración.
* `value` -- es el valor presente del bono. 
* `ytm`-- (yield-to-maturity) es la tasa de interés del bono (períodica).

Esta función retorna `value` cuando `ytm` es especificado; y `ytm` cuando `value` es especificado.

***Ejemplo.--*** Se tiene un bono que pagará `$` 1000 en 14 años y cupones semestrales a una tasa del 2%. ¿Cuál es el valor actual del bono si la tasa atractiva mínima es del 4%?

In [2]:
cf.bond(face_value=1000, coupon_value=20, num_coupons=28, ytm=4)

666.7387356400258

***Ejemplo.--*** ¿Cuál es el valor del bono anterior si se considerán valores entre el 3% y el 5% para la tasa de interés?

In [3]:
cf.bond(face_value=1000, coupon_value=20, num_coupons=28, ytm=[3, 4, 5])

   Coupon_Rate  Coupon_Value  Face_Value  Num_Coupons       Value  YTM
0          2.0            20        1000           28  812.358918    3
1          2.0            20        1000           28  666.738736    4
2          2.0            20        1000           28  553.056182    5

***Ejemplo.--*** Realice un análisis de sensibilidad si el valor del bono es 666.7 y se condieran tasas del 3, 4 y 5%?

In [4]:
cf.bond(face_value=1000, coupon_value=20, num_coupons=28, value=666.7, ytm=[3, 4, 5])

,Basis_Value,Change,Coupon_Rate,Coupon_Value,Face_Value,Num_Coupons,Value,YTM
0,666.7,21.847745,2.0,20,1000,28,812.358918,3
1,666.7,0.005810,2.0,20,1000,28,666.738736,4
2,666.7,-17.045720,2.0,20,1000,28,553.056182,5

**Ejercicio.--** La fecha actual es junio del 2018.  Se le pide, en su cargo de analista financiero,  que recomiende una de las siguientes inversiones para los excedentes actuales de tesorería. La tesorería espera una utilidad mínima del 8% en sus inversiones.

* Un cupón que expira el 2025-06, el cual paga cupones mensuales por $150 y un valor final de `$` 1300.


* Un cupón que expira el 2024Q1, con cupones trimestrales de 180 y un valor final de `$` 1200.

**Bibliografía**

> * [1] SAS/ETS 14.1 User's Guide, 2015.   
* [2] **hp** 12c platinum financial calculator. User's guide. 
* [3] HP Business Consultant II Owner's manual.
* [4] C.S. Park and G.P. Sharp-Bette. Advanced Engineering Economics. John Wiley & Sons, Inc., 1990.